<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" th:with="lang=${#locale.language}" th:lang="${lang}">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>
	    <meta name="description" content="Dashboard list template"/>
		<meta name="keywords" content="sofia2,smart,cities,platform,Indra"/>
		<meta name="author" content="Indra Sistemas, S.A."/>
		
		<!-- BEGIN WEB FONT -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>
		
		<!-- PLUGINS STYLE SHEETS AND BOOSTRAP-TIMEPICKER -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/datatable/datatables.bootstrap.css}"/>	
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-datepicker/bootstrap-datepicker3.min.css}"/>
		
	</head>	
	
	<!-- Funciones AJAX -->
	<script th:inline="javascript">
		/* <![CDATA[ */
		function getQueryExecutedFragment() {
			
			var query = $("#query").val();
			var indexfrom = query.toLowerCase().indexOf("from ");
			var indexOf = query.toLowerCase().indexOf(" ",indexfrom + 5);
			if(indexOf == -1) {
				indexOf = query.length;
			}
			var testOntology = query.substring(indexfrom + 5, indexOf).trim();
			while(testOntology.startsWith("(") && indexfrom!=-1) {
				indexfrom = query.toLowerCase().indexOf("from ",indexfrom);
				indexOf = query.toLowerCase().indexOf(" ",indexfrom + 5);
				if(indexOf == -1) {
					indexOf = query.length;
				}
				testOntology = query.substring(indexfrom + 5, indexOf).trim();
			}
			
			$("#Canvasrespuesta").load('/controlpanel/querytool/query', { 'query': $("#query").val(), 'queryType': 'SQL', 'ontologyIdentification': testOntology});
			$("#dimensionsPanel").show();
		} 
	
		function getOntologyFields() {
			$("#fields").load('/controlpanel/querytool/ontologyfields', { 'ontologyIdentification': $("#selector_ontologias").val()})
		}
		/* ]]> */
	</script>
	
	<!-- page-sidebar-closed to start page with collapsed menu -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">

	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- BEGIN HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>		
			
		<!-- BEGIN SIDEBAR -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
		
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				
				<!-- BEGIN PAGE BAR AND BREADCRUM -->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/datasources/list}"> <span th:text="#{name.visualization}">Visualization</span></a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/datasources/list}"> <span th:text="#{datasources.my}">My Dashboards</span></a><i class="fa fa-circle"></i> </li>
						<li><span th:text="#{datasources.create}">Create Datasource</span></li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{datasources.new}">New Datasource</span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">						
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<i class="la la-database font-grey-gallery"></i>						
									
									<!-- FORM TITLE -->
									<span th:if="${datasource.id} == null" class="caption-subject font-grey-gallery uppercase" th:text="#{datasources.template.create} + ':'"> New Datasource</span>
									<span th:if="${datasource.id} != null" class="caption-subject font-grey-gallery uppercase" th:text="#{datasources.template.update} + ' '"> Update Datasource</span><b th:if="${datasource.id} != null" th:text="${datasource.identification} + ':'"></b>
								</div>									
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title=""> </a>																			
									<a href="" class="fullscreen" data-original-title="" title=""> </a>										
								</div>
								<div class="actions">
									<!-- ACTION INDICATORs -->									
									<span th:if="${datasource.id} == null" class="label label-success label-sm uppercase"><i class="fa fa-plus"></i> <span th:text="#{gen.mode.insert}">Insert</span></span>
									<span th:if="${datasource.id} != null" class="label label-warning label-sm uppercase bold "><i class="fa fa-edit"></i> <span th:text="#{gen.mode.update}">Update</span></span>
								</div>
								
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								
								<div class="row">
									<div class="col-md-12 alert-zone"><!-- ALERTS ZONE -->
										<div class="alert alert-danger display-hide">
											<button class="close" data-close="alert"></button> 
											<span th:text="#{gen.form.error}">You have some form errors. Please check below.</span>
										</div>										
                                        <div class="alert alert-success display-hide">
											<button class="close" data-close="alert"></button> <span th:text="#{gen.form.success}">Your form validation is successful!</span>
										</div>								
									</div>
									<div class="col-md-12">										
										<form role="form" id="datasource_create_form" th:object="${datasource}" method="post" class="form">
											<!-- FORM ACTIONS FOR INSERT-->
											<input th:if="${datasource.id} == null" type="hidden" name="action" th:value="@{/datasources/create}"/>
											
											<!-- FORM ACTIONS FOR UPDATE -->											
											<input th:if="${datasource.id} != null" type="hidden" name="action" th:value="@{/datasources/update}"/>
											<input th:if="${datasource.id} != null" type="hidden" name="_method" value="PUT"/>											
											
											<div class="form-body">
												<!-- user, name and email -->
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-credit-card"></i> <span th:text="#{gadgets.identification} + ':'">Identification</span> </label>
															<div class="input-icon ">
																<i class="la la-credit-card"></i>
																<input id="identification" type="text" name="identification" th:required="true"  maxlength="50" th:field="*{identification}" class="form-control " th:placeholder="#{gadgets.identification}"  th:readonly="*{identification}" th:classappend="${datasource.id} ? no-remove : ''"  />
															</div>															
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-level-down"></i> <span th:text="#{datasources.mode} + ':'">Access Mode</span> </label>
															<div class="input-icon ">
																<i class="la la-level-down"></i>
																<select id="mode" class="selectpicker form-control" data-live-search="true" data-width="100%" th:title="#{datasources.mode}" th:field="*{mode}" th:required="true">
																	<option selected="selected" value="query">Query</option>
																</select>
															</div>	
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-database"></i> <span th:text="#{datasources.db} + ':'">source DB</span> </label>
															<div class="input-icon ">
																<i class="la la-database"></i>
																<select id="dbtype" class="selectpicker form-control" data-live-search="true" data-width="100%" th:title="#{datasources.db}" th:field="*{dbtype}" th:required="true">
																	<option selected="selected" value="RTDB">RTDB</option>
																</select>
															</div>	
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-list-ol"></i> <span th:text="#{datasources.maxvalue} + ':'">Max register</span></label>
															<div class="input-icon ">
																<i class="fa fa-list-ol"></i> 
																<input th:if="${datasource.id} == null" id="maxvalues" type="number" min="1" max="3000" name="maxvalues" th:required="true"  value="100" th:value="100" class="form-control " th:placeholder="#{datasources.maxvalue}"  />
																<input th:if="${datasource.id} != null" id="maxvalues" type="number" min="1" max="3000" name="maxvalues" th:required="true"  value="100" th:field="*{maxvalues}" class="form-control " th:placeholder="#{datasources.maxvalue}"  />
															</div>
														</div>
													</div>													
												</div>
												
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-history"></i> <span th:text="#{datasources.refresh} + ':'">Refresh time</span></label>
															<div class="input-icon ">
																<i class="la la-history"></i>
																<input th:if="${datasource.id} != null" id="refresh" type="number" min="0" max="99999" name="refresh" value="240" th:field="*{refresh}" class="form-control" th:placeholder="#{datasources.refresh}"  />
																<input th:if="${datasource.id} == null" id="refresh" type="number" min="0" max="99999" name="refresh" value="240" th:value="0" class="form-control" th:placeholder="#{datasources.refresh}"  />
															</div>
														</div>
													</div>
													<div class="col-md-9 col-sm-9 col-xs-12">
														<div class="form-group">
															<label th:text="#{gen.description}">Comments </label>
															<textarea th:tabindex="3" class="element textarea small form-control" id="description" name="description" maxlength="512" th:field="*{description}" cols="" rows=""></textarea>
														</div>
													</div>
												</div>
												<div class="row"> 
													<div class="pull-left col-md-10 col-sm-8 col-xs-12">
														<label th:text="#{datasources.query}">Datasource Query </label>
														<textarea th:if="${datasource.id} == null" id="query" name="query" class="element textarea extra-small form-control">select * from ontology limit 1</textarea>
														<textarea th:if="${datasource.id} != null" id="query" th:field="*{query}" class="element textarea extra-small form-control"></textarea>
													</div>											
													<div class="pull-right col-md-2 col-sm-4 col-xs-12">
														<div class="btn-group">
															<button type="button" class="btn btn-sm btn-primary" onclick="javascript:getQueryExecutedFragment()" id="executeQuery"><i class="fa fa-play"></i> Ejecutar Query </button>
														</div>											
													</div>
													<div class="clearfix"></div>
												</div>
												<!-- PANEL DE RESULTADOS -->
												<div class="panel panel-default margin-top-10">
													<div class="panel-heading panel-sofia2">
														<h3 class="panel-title uppercase font-grey-mint"><i class="fa fa-database"></i> Datasource Query Results</h3>											
													</div>
													<div class="panel-body no-space">
														<div class="col-md-12 margin-top-10 margin-bottom-20">
															<div th:fragment="query" id="Canvasrespuesta">														
															<p th:text="${queryResult}"></p>
															</div>												
														</div>
													</div>
												</div>
												
												<div id="dimensionsPanel" class="row">  
													<div class="col-md-12 margin-top-10 margin-bottom-20">
														<div class="form-group">
															<label class=""><i class="fa fa-sitemap"></i> <span th:text="#{datasources.dimension} + ':'">Dimensions</span></label>
															<textarea th:if="${datasource.id} != null" th:tabindex="3" class="element textarea small form-control" id="config" name="config" maxlength="512" th:field="*{config}" cols="" rows=""></textarea>
															<textarea th:if="${datasource.id} == null" th:tabindex="3" class="element textarea small form-control" id="config" name="config" maxlength="512" cols="" rows="">[['mainField_cat1','secondaryField_cat1'],['mainField_cat2,'secondaryField_cat2','tertiaryField_cat2']]</textarea>															
														</div>
													</div>
												</div>
											</div>
											<!-- FORM BUTTONS -->
											<div class="form-actions">
												<div class="pull-right">
													<!-- CREATE -->
													<button th:if="${datasource.id} == null" id="createBtn" type="submit" class="btn btn-square btn-success" name="create"  th:value="#{gen.createBtn}" ><i class="la la-check"></i> <span th:text="#{gen.createBtn}"> New</span></button>
													
													<!-- UPDATE -->
													<button th:if="${datasource.id} != null" id="updateBtn" type="submit" class="btn btn-square btn-warning" name="update"  th:value="#{gen.editBtn}" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit</span></button>
													
													<!-- REMOVE -->
													<button th:if="${datasource.id} != null" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" th:onclick="'DatasourcesCreateController.deleteGadgetDatasource(\'' + ${datasource.id} + '\');'" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
																										
												</div>
											</div>											
										</form>
										
										<!-- AUXILIAR FORM TO DELETE DATASOURCE -->
										<form id="delete_datasource_form" class="delete-gadgetDatasource hide"  th:action="@{'/datasources/'+${datasource.id}}"  method="post">
											<input type="hidden" name="_method" value="DELETE"/>
											<input type="hidden" name="id" th:value="${datasource.id}"/>
										</form>										
									</div>									
								</div>
							</div>
						</div><!-- END PORTLET BASIC  -->						
					</div><!-- END COL-12 -->												
				</div><!-- END MAIN ROW -->				
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	</div>
	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER-INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>	
	
	<!-- CORE CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>
	
	<!-- PLUGINS -->
	<script th:src="@{/static/vendor/jquery/jquery.dataTables.min.js}"/>
	<script th:src="@{/static/vendor/datatable/datatables.bootstrap.js}"/>	
	<script th:src="@{/static/vendor/jquery/jquery.autocomplete.js}"/>
	<script th:src="@{/static/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js}"/>
	
	<!-- TEMPLATE CONTROLLER  -->	
	<script th:src="@{/static/js/pages/datasourcesCreate.js}"/>
	
	
	
</body>
</html> 

  