<div class="container">
    <div class="alert alert-error" ng-if="error">
        <b>Error:</b> {{ error }}
    </div>
    <div>
        <input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter"/>
    </div>
    <sba-info-panel ng-repeat="metric in metrics | orderBy:'name'" panel-title="{{ metric.name }}"
                    raw="api/applications/{{ application.id }}/metrics/{{ metric.name }}.*"
                    ng-show="!searchFilter || (metric.values | filter:searchFilter).length > 0">
        <lu class="table">
            <li class="sofia2-metric-row" ng-if="showRichGauges" ng-repeat="m in metric.values | filter:searchFilter">
                <!--<sba-rich-metric-bar for-metric="m" global-max="metric.max"></sba-rich-metric-bar>-->
                <sba-canvas-gauge-metric for-metric="m" global-max="metric.max"></sba-canvas-gauge-metric>
            </li>
            <li class="sofia2-metric-row" ng-if="!showRichGauges" ng-repeat="m in metric.values | filter:searchFilter">
                <!--<sba-simple-metric-bar for-metric="m" global-max="metric.max"></sba-simple-metric-bar>-->
                <sba-canvas-gauge-metric for-metric="m" global-max="metric.max"></sba-canvas-gauge-metric>
            </li>
        </lu>
    </sba-info-panel>
    
</div>
