<md-dialog aria-label="Add Gadget">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create using template?</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <b>X</b>
        </md-button>
      </div>
    </md-toolbar>

    <md-input-container>
        <label>Select Template</label>
        <md-select ng-model="template" md-on-open="loadTemplates()">
          <md-option ng-value="template" ng-repeat="template in templates"><em>{{template.identification}}</em></md-option>
        </md-select>
      </md-input-container>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="useTemplate()">
        Yes
      </md-button>
      <md-button ng-click="noUseTemplate()">
        No
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
