<md-bottom-sheet class="md-grid addGadget-sheet" layout="column">
  <div layout="row" style="margin-top: -25px;" layout-align="center center" ng-cloak>
    <h5 class="addGadget-title">
        <md-icon class="ng-scope material-icons addGadget-title-icon" role="img" aria-label="add_circle_outline" 
    >add_circle_outline</md-icon> 
     Drag&Drop your gadget to the grid panel</h5>
  </div>
  <div ng-cloak>

      <div layout="row"  layout-align="center center" layout-wrap style="margin-bottom: 15px;  margin-top: -10px;">
          <div flex="12">
          <md-button id="line"  draggable>
            <md-icon class="addGadget-icon">show_chart</md-icon>
            <div class="md-grid-text bold"> Line Chart </div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="bar"  draggable>
            <md-icon class="addGadget-icon">insert_chart</md-icon>
            <div class="md-grid-text bold"> Bar Chart </div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="pie"  draggable>
            <md-icon class="addGadget-icon">pie_chart</md-icon>
            <div class="md-grid-text bold"> Pie Chart </div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="wordcloud"  draggable>
            <md-icon class="addGadget-icon">sort_by_alpha</md-icon>
            <div class="md-grid-text bold">Wordcloud</div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="map"  draggable>
            <md-icon class="addGadget-icon">map</md-icon>
            <div class="md-grid-text bold"> Map </div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="radar"  draggable>
            <md-icon class="addGadget-icon">track_changes</md-icon>
            <div class="md-grid-text  bold"> Radar </div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="livehtml"  draggable>
            <md-icon class="addGadget-icon">art_track</md-icon>
            <div class="md-grid-text  bold"> Live HTML </div>
          </md-button>
        </div>
        <div flex="12">
          <md-button id="table" draggable>
            <md-icon class="addGadget-icon">view_list</md-icon>
            <div class="md-grid-text bold">Table </div>
          </md-button>
     
        </div>
  </div>
</md-bottom-sheet>
