<md-dialog aria-label="GadgetEditor">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Gadget</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <b>X</b>
        </md-button>
      </div>
    </md-toolbar>
        <md-subheader>Edit Live Content</md-subheader>
        <md-input-container class="md-dialog-content">
          <label>Datasource</label>
          <md-select required md-autofocus placeholder="Select new templace datasource" ng-model="element.datasource" md-on-open="loadDatasources()">
            <md-option ng-value="{name:datasource.identification,refresh:datasource.refresh,type:datasource.mode}" ng-repeat="datasource in datasources">{{datasource.identification}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-dialog-content">
          <div style="width:500px" md-autofocus ui-codemirror="{lineWrapping: true, fixedGutter: false, lineNumbers: true, theme:'twilight', lineWrapping : true, mode: 'xml', autofocus: true}" ng-model="element.content"></div>
        </md-input-container>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()" class="md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
