<div class="toolbarButtons" layout="row" layout-align="right right" style="z-index:9000">
  <span flex></span>
  <!--<md-input-container>
    <label>Layer</label>
    <md-select ng-disabled="ed.dashboard.pages[ed.selectedpage].combinelayers" ng-model="ed.dashboard.pages[ed.selectedpage].selectedlayer">
      <md-option ng-repeat="layer in ed.dashboard.pages[ed.selectedpage].layers" value="{{$index}}">{{layer.title}}</md-option>
    </md-select>
  </md-input-container>
  <md-switch ng-model="ed.dashboard.pages[ed.selectedpage].combinelayers" aria-label="Combine layers">
    Combine layers
  </md-switch>-->
  <md-button class="md-fab md-mini md-warn transparent-color" ng-click="ed.showListBottomSheet()" aria-label="Add Element">
    <md-tooltip md-direction="bottom">Add Element</md-tooltip>
    <md-icon>add</md-icon>
  </md-button>
  <md-button class="md-fab md-mini md-warn transparent-color" ng-click="ed.showDatalink()" aria-label="Show datalink">
    <md-tooltip md-direction="bottom">Datalink</md-tooltip>
    <md-icon>compare_arrows</md-icon>
  </md-button>
  <!--<md-button class="md-fab md-alert md-hue-1" ng-click="ed.datasourcesEdit()" aria-label="Add Datasource">
    <md-tooltip md-direction="bottom">Edit Datasources Element</md-tooltip>
    <md-icon>input</md-icon>
  </md-button>-->
  <md-menu>
    <md-button aria-label="Open menu with custom trigger" class="md-fab md-warn md-mini transparent-color" ng-click="$mdMenu.open()">
      <md-icon>dashboard</md-icon>
    </md-button>
    <md-menu-content width="2">
      <md-menu-item>
        <md-button aria-label="Pages" ng-click="ed.pagesEdit()">
          <md-icon aria-label="Pages">collections</md-icon>
          Pages
        </md-button>
      </md-menu-item>
     <!-- <md-menu-item>
        <md-button aria-label="Page Layers" ng-click="ed.layersEdit()">
          <md-icon aria-label="Page layers">clear_all</md-icon>
          Page Layers
        </md-button>
      </md-menu-item>-->
      <md-menu-item>
        <md-button aria-label="Configure Dashboard" ng-click="ed.dashboardEdit()">
          <md-icon aria-label="Configure Dashboard">settings</md-icon>
          Configure Dashboard
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="Dashboard Style" ng-click="ed.dashboardStyleEdit()">
          <md-icon aria-label="Configure Dashboard">format_paint</md-icon>
          Dashboard Style
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-button class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.savePage()" aria-label="Save Dashboard">
    <md-tooltip md-direction="bottom">Save Dashboard</md-tooltip>
    <md-icon>save</md-icon>
  </md-button>
  <md-button class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.deleteDashboard()" aria-label="Delete Dashboard">
    <md-tooltip md-direction="bottom">Delete Dashboard</md-tooltip>
    <md-icon>delete</md-icon>
  </md-button>
  <md-button class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.closeDashboard()" aria-label="Close Dashboard Editor">
    <md-tooltip md-direction="bottom">Close Dashboard Editor</md-tooltip>
    <md-icon>close</md-icon>
  </md-button>
</div>
