<md-dialog aria-label="Container">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Container</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <b>X</b>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <md-subheader>Header</md-subheader>
        <div class="md-dialog-content layout-row layout-align-start-center flex">
          <md-input-container flex="20">
            <input ng-model="element.header.height" type="number" placeholder="Header Height">
          </md-input-container>
          <md-checkbox flex="40" ng-model="element.header.enable" class="flex">Enable widget header
          </md-checkbox>
          <md-input-container flex="30">
            <label>Background Color</label>
            <color-picker flex="40" ng-model="element.header.backgroundColor"></color-picker>
          </md-input-container>
        </div>

        <md-subheader>Title</md-subheader>
        <div class="md-dialog-content layout-row layout-align-start-center flex">
          <md-input-container flex="50">
            <label>Widget Title</label>
            <input ng-model="element.header.title.text" required md-autofocus>
          </md-input-container>
          <md-input-container flex="30">
            <label>Text Color</label>
            <color-picker flex="50" ng-model="element.header.title.textColor"></color-picker>
          </md-input-container>
        </div>
        <md-subheader>Icon</md-subheader>
        <div class="md-dialog-content layout-row layout-align-start-center flex">
          <md-autocomplete
            flex="50"
            ng-disabled="false"
            md-no-cache="false"
            md-selected-item="ctrl.icons[$index]"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="element.header.title.icon"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="icon in queryIcon(element.header.title.icon)"
            md-item-text="icon"
            md-min-length="0"
            md-menu-class="autocomplete-custom-template"
            md-floating-label="Select icon of widget">
            <md-item-template>
              <span class="item-title">
                <md-icon>{{icon}}</md-icon>
                <span> {{icon}} </span>
              </span>
            </md-item-template>
          </md-autocomplete>

          <md-input-container flex="30">
            <label>Icon Color</label>
            <color-picker flex="50" ng-model="element.header.title.iconColor"></color-picker>
          </md-input-container>
        </div>
        <md-subheader>Body</md-subheader>
        <div class="md-dialog-content layout-row layout-align-start-center flex">
          <md-input-container flex="30">
            <label>Body Background</label>
            <color-picker flex="100" ng-model="element.backgroundColor"></color-picker>
          </md-input-container>
          <md-input-container flex="50">
            <input ng-model="element.padding" type="number" placeholder="Content Padding">
          </md-input-container>
        </div>
        <div class="md-dialog-content layout-row layout-align-start-center flex">
          <md-input-container flex="33">
            <input ng-model="element.border.width" type="number" placeholder="Border width">
          </md-input-container>
          <md-input-container flex="33">
            <input ng-model="element.border.radius" type="number" placeholder="Corner Radius">
          </md-input-container>
          <md-input-container flex="30">
            <label>Border Color</label>
            <color-picker flex="33" ng-model="element.border.color"></color-picker>
          </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()" class="md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
