<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>

		
		<!-- WEB FONTs -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>		
		
		<!-- PLUGINS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/datatable/datatables.bootstrap.css}"/>	
		<!-- JSON EDITOR -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/json/jsoneditor.css}"/>
		
	</head>	
	
	<!-- page-sidebar-closed to START WITH MENU COLLAPSED. -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">

	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>
			
		<!-- BEGIN SIDEBAR INCLUDE (MENU) -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
			
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
			
                <div class="alert alert-success display-hide">
					<span th:text="${globalMessage}"></span>
				</div>		
				
				<!-- BEGIN PAGE BAR AND BREADCRUM-->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/ontologies/list}"> <span th:text="#{ontology.breadcrumb.list}">Ontologies </span></a><i class="fa fa-circle"></i></li>
						<li>
							<span th:text="#{ontology.breadcrumb.show}">Show Ontology</span>							
						</li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{name.app}"> Sofia4Cities Control Panel</span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">						
						<div class="portlet light bordered">
							<div class="portlet-title tabbable-line">
								<div class="caption">
									
								</div>									
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title=""> </a>																			
									<a href="" class="fullscreen" data-original-title="" title=""> </a>										
								</div>
								
								<!-- SECCIONES DE LA ONTOLOGIA TABS -->
								<ul class="nav nav-tabs pull-left">
									<li id="tab-datos" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><i class="flaticon-network font-grey-gallery"></i>	<span class="caption-subject font-grey-gallery uppercase" th:text="#{ontology.template.show} + ' ' + ${ontology.identification}"> Ontology Identification</span></a></li>
									<li id="tab-autorizaciones" class=""><a href="#tab_2" data-toggle="tab" th:classappend="${ontology?.id} == null ? disabled : ''" aria-expanded="true"><i class="la la-code"></i> <span class="uppercase font-md" >AUTORIZACIONES </span></a></li>
								</ul>
								
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1">
									<!-- VIEW -->
										<div class="row">
											<div class="col-md-12 alert-zone"><!-- ALERTS ZONE -->																
											</div>
											<div class="col-md-12">										
												<form role="form" id="ontology_view_form" action="show.html" th:object="${ontology}" th:action="@{|/controlpanel/ontologies/${id}|}"  method="post" class="form">
													<div class="form-body">
														<!-- ontology, id , identification -->
														<div class="row">													
															<div class="col-md-6 col-sm-6 col-xs-12">
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.identification} + ':'">Name</label>
																	<p class="form-control-static-block bold" th:text="*{identification}"> ontology Name </p>
																</div>
															</div>
															<div class="col-md-6 col-sm-6 col-xs-12">
																<div class="form-group">
																	<label class="control-label"><i class="la la-tags"></i> <span th:text="#{ontology.metainf} + ':'">Meta Information</span></label>
																	<p class="form-control-static-block bold" th:text="*{metainf}"> meta </p>
																</div>
															</div>													
														</div>
														<!-- Role, created-at, removed-at -->
														<div class="row">
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.datamodel} + ':'">Datamodel Template</label>
																	<p class="form-control-static-block bold" th:text="*{dataModel?.name} "> datamodel </p>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12">
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.datamodel.type} + ':'">Datamodel Type</label>
																	<p class="form-control-static-block bold" th:text="*{dataModel?.type} "> datamodel type </p>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12" >
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.active} + '?'">Active</label>
																	<p class="form-control-static-block form-control-static-no-border bold">
																		<span th:if="*{active}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																		<span th:if="!*{active}" class="label label-sm label-danger" title="NO"><i class="fa fa-warning"></i></span>
																	</p>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12" >
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.public} + '?'">Public</label>
																	<p class="form-control-static-block form-control-static-no-border bold">
																		<span th:if="*{public}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																		<span th:if="!*{public}" class="label label-sm label-danger" title="NO"><i class="fa fa-warning"></i></span>
																	</p>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-6 col-sm-12 col-xs-12" >
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.description} + ':'">Description</label>
																	<p class="form-control-static-block bold" th:text="*{description}"> description </p>
																</div>
															</div>
															<!-- <div class="col-md-3 col-sm-6 col-xs-12" >
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.rtdbclean} + '?'">rtdbclean</label>
																	<p class="form-control-static-block form-control-static-no-border bold">
																		<span th:if="*{rtdbClean}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																		<span th:if="!*{rtdbClean}" class="label label-sm label-danger" title="NO"><i class="fa fa-warning"></i></span>
																	</p>
																</div>
															</div>
															<div class="col-md-3 col-sm-6 col-xs-12" >
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.rtdbtohdb} + '?'">rtdbtohdb</label>
																	<p class="form-control-static-block form-control-static-no-border bold">
																		<span th:if="*{rtdbToHdb}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																		<span th:if="!*{rtdbToHdb}" class="label label-sm label-danger" title="NO"><i class="fa fa-warning"></i></span>
																	</p>
																</div>
															</div> -->
															<div class="col-md-3 col-sm-6 col-xs-12" >
																<div class="form-group">
																	<label class="control-label" th:text="#{ontology.allowsCypherFields} + '?'">Allow Encription of Fields</label>
																	<p class="form-control-static-block form-control-static-no-border bold">
																		<span th:if="*{allowsCypherFields}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																		<span th:if="!*{allowsCypherFields}" class="label label-sm label-danger" title="NO"><i class="fa fa-warning"></i></span>
																	</p>
																</div>
															</div>
														</div>
														<div class="row">																																
															<div class="col-md-12 col-sm-12 col-xs-12">
																<div class="form-group">
																	<label class="control-label"><i class="flaticon-network"></i> <span th:text="#{ontology.schema}">Ontology Schema</span></label>														
																	<div id="jsoneditor"></div>	
																</div>
															</div>
														</div>
													</div>
													<!-- FORM BUTTONS -->
													<div class="form-actions">
														<div class="pull-right">
															<!-- CREATE -->
															<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="createBtn" type="button" class="btn btn-square btn-success" name="create"  value="Create" th:onclick="'javascript:navigateUrl(\'' + @{/ontologies/} + 'create' + '\');'" ><i class="la la-check"></i> <span th:text="#{gen.createBtn}"> New</span></button>
															
															<!-- MODIFY TO-DO: == and != has the same onClick? check! -->
															<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#authentication.name} != ${ontology.user.userId}" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/ontologies/update/} + ${ontology.id} + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
															<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#authentication.name} == ${ontology.user.userId}" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/ontologies/update/} + ${ontology.id} + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
															<button sec:authorize=" hasAuthority('ROLE_PARTNER')" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/ontologies/update/} + ${ontology.id} + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
															
															<!-- REMOVE -->
															<button sec:authorize="!hasAuthority('ROLE_PARTNER')" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" th:onclick="'deleteOntologyConfirmation(\'' + ${ontology.id} + '\');'" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
															
															<span class="sep" th:text="#{gen.sepBtn}"> or </span>
															
															<!-- CANCEL TO-DO: authentication and control -->
															<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/ontologies/list} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
															<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} != 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
														</div>
													</div>											
												</form>
												
												<!-- AUXILIAR FORM TO DELETE ontology -->
												<form id="delete_ontology_form" class="delete-ontology hide"  action=""  method="post">
													<input type="hidden" name="_method" value="DELETE"/>
													<input id="delete-ontologyId" type="hidden" name="ontologyId" th:value="*{id}"/>
												</form>
											</div>									
										</div>
									</div>
									<div class="tab-pane " id="tab_2">
									<!-- AUTHORIZATIONS -->
										<div class="row">
											<div class="col-md-12">											
												<div id="contenedor-tabla-outside" class="contiene margin-bottom-30">																						
													<div>
														<!-- DATATABLE DANDELION CONF. -->												
														<table id="authorizations" class="table table-hover table-striped" dt:table="true" dt:paginationtype="full_numbers">
															<thead>
																<tr class="cabecera-tabla">
																	<th class="titulo-columnas text-left" th:text="#{ontology.auth.user}">Identification</th>
																	<th class="titulo-columnas text-left" ><i class="la la-user"></i> <span th:text="#{ontology.auth.userfullname}" >User</span></th>
																	<th class="titulo-columnas text-center" th:text="#{ontology.auth.accesstype}">Description</th>
																</tr>
															</thead>
															<tbody th:remove="all-but-first">
																<tr th:each="authorization : ${authorizations}" pages:paginate="10">
																	<!-- IDENTIFICATION/NAME -->
																	<td class="text-left no-wrap bold" th:text="${authorization.userId}"></td>
																	<!-- USER -->
																	<td class="text-left " th:text="${authorization.userFullName}"></td>
																	<!-- ACCESS TYPE  -->
																	<td class="text-center " th:text="${authorization.typeName}"></td>																
																</tr>
															</tbody>
														</table>												
														<!-- TABLE COLUMNS CONTAINER SHOW/HIDE -->
														<div id="dataTable-vis-toggle" class="btn-group margin-left-10 hide">
															<a href="javascript:;" data-toggle="dropdown" aria-expanded="false" class="btn btn-square btn-sm btn-default ">
																<i class="fa fa-eye"></i> <em th:text="#{gen.columns}">Columns</em> <i class="fa fa-angle-down"></i>
															</a>
															<div id="column_toggler" data-container="body" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
																<label class="toggle-vis" data-column="0" th:text="#{ontology.auth.user}"> Identification </label>
																<label class="toggle-vis" data-column="1" th:text="#{ontology.auth.userfullname}"> User </label>
																<label class="toggle-vis" data-column="2" th:text="#{ontology.auth.accesstype}"> Access Type</label>															
															</div>
														</div>												
													</div>
												</div>											
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div><!-- END PORTLET BASIC  -->						
					</div><!-- END COL-12 -->						
				</div><!-- END MAIN ROW -->
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	</div>
	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>
	
	<!-- CORE JS CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>

	<!-- PLUGINS -->
	<script th:src="@{/static/vendor/jquery/jquery.dataTables.min.js}"/>
	<script th:src="@{/static/vendor/datatable/datatables.bootstrap.js}"/>	
	
	<!-- JSON EDITOR -->	
	<script th:src="@{/static/vendor/json/jsoneditor.js}"/>
	
	<script th:src="@{/static/vendor/ace/ace.js}" charset="utf-8"/>
	<script th:src="@{/static/vendor/ace/mode-json.js}"/>
	<script th:src="@{/static/vendor/ace/theme-textmate.js}"/>
	
	<!-- TEMPLATE CONTROLLER  -->	
		
	<!-- MAIN INIT -->
	<script  th:inline="javascript">
	var showLog = 1; // console.log toggle
    //<![CDATA[ 
	
	
	// DATATABLES LANGUAJE FROM PROPERTIES.
	datatable_lang = [[#{datatables_lang}]];	
	var languageJson = JSON.parse(datatable_lang);
	if ( languageJson ){ $.extend( true, $.fn.dataTable.defaults, { language: languageJson }); }
	
	
	
	var stringSchema = [[${ontology.jsonSchema}]];
	var jsonSchema = JSON.parse(stringSchema);

	// REDIRECT
	function navigateUrl(url){  window.location.href = url;	}
	
	// DELETE ontology
	function deleteOntologyConfirmation(ontologyId){
		showLog ? console.log('deleteOntologyConfirmation() -> formId: '+ ontologyId): '';
		
		// no Id no fun!
		if ( !ontologyId ) {$.alert({title: 'ERROR!',type: 'red' , theme: 'dark', content: 'NO ontology-FORM SELECTED!'}); return false; }
		
		// set action and ontologyId to the form
		$('#delete-ontologyId').attr('ontologyId',ontologyId);
		$('.delete-ontology').attr('action','/controlpanel/ontologies/' + ontologyId);
		showLog ? console.log('deleteOntologyConfirmation() -> formAction: ' + $('.delete-ontology').attr('action') + ' ID: ' + $('#delete-ontologyId').attr('ontologyId')): '';
		
		// call ontology Confirm at header.
		HeaderController.showConfirmDialogOntologia('delete_ontology_form');	
	}
	
	
	// MAIN WHEN READY
	var editor;
	$( document ).ready(function() {
		// init when Document is ready
		showLog ? console.log('SHOW ontology ready()...') : '';
		
		var container = document.getElementById('jsoneditor');	
		var options = {
			mode: 'view',
			theme: 'bootstrap3',			
			modes: ['view'], // allowed modes
			error: function (err) {
				$.alert({title: 'ERROR!', theme: 'dark', style: 'red', content: err.toString()});
				return false;
			}
		};
		
		editor = new jsoneditor.JSONEditor(container, options, jsonSchema);
		
		
		//SHOW/HIDE DATATABLE COLUMNS HANDLER
		$('label.toggle-vis').on( 'click', function (e) {
			e.preventDefault(); 
			// Get the column API object
			var column = $('#authorizations').DataTable().column( $(this).attr('data-column') ); 
			// Toggle the visibility
			column.visible( ! column.visible() );			
			// toggle Text
			$(this).toggleClass('text-muted line-through');			
		});	
		
		
		
	});
	 
	// MAIN WHEN LOAD
	$(window).load(function(){  
		// init on load.		
		showLog ? console.log('SHOW ontology load()...') : '';
		
		// SHOW/HIDE DATATABLES COLUMN INIT 		
		$('.dataTables_filter').append($('#dataTable-vis-toggle'));		
		$('#dataTable-vis-toggle').removeClass('hide');
			
	
	});
	
	//]]>
	</script>	
</body>
</html>