<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property scope="context" resource="application.yml" />
    
    <!--  
    <logger name="com.indracompany.sofia2" level="INFO" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.boot" level="WARN" />
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.springframework.orm" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>
    <logger name="org.springframework.scheduling" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="com.github.dandelion" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.hazelcast" level="WARN"/>
    -->
    
    <appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>
    
    <appender name="stdoutWarnAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}-${PID}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
         
    <springProfile name="dev">
	    <root level="INFO">
	        <appender-ref ref="stdoutAppender" />
	    </root>
    </springProfile>
    <springProfile name="production,docker,default">
	    <root level="INFO">
	        <appender-ref ref="rollingFileAppender" />
	        <appender-ref ref="stdoutWarnAppender" />
	    </root>
    </springProfile>     
    
</configuration>
    
    