<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>


		<!-- WEB FONTs -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
			WebFont.load({
				google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
					active: function() {
					sessionStorage.fonts = true;
				}
			});
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>

		<!-- PLUGINS STYLE SHEETS: BOOSTRAP-SELECT AND BOOSTRAP-TIMEPICKER, TAGSINPUT, JSONEDITOR  -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-select/bootstrap-select.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-datepicker/bootstrap-datepicker3.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/json/jsoneditor.css}"/>
			
	</head>	

	<!-- page-sidebar-closed to START WITH MENU COLLAPSED. -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">

	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">

		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->

		<!-- HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>

		<!-- BEGIN SIDEBAR INCLUDE (MENU) -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
			
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
			
				<div class="alert alert-success display-hide">
					<span th:text="${globalMessage}"></span>
				</div>
				
				<!-- BEGIN PAGE BAR AND BREADCRUM-->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/webprojects/list}"> <span th:text="#{webproject.breadcrumb.list}"> Web Projects List </span></a><i class="fa fa-circle"></i></li>
						<li>
							<span th:if="${webproject?.id} == null" th:text="#{webproject.breadcrumb.create}"> New Web Project </span>
							<span th:if="${webproject?.id} != null" th:text="#{webproject.breadcrumb.update}"> Update Web Project </span>
						</li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->

				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide ">
					<span th:if="${webproject?.id} == null" th:text="#{webproject.template.create}"> Create New Web Project </span>
					<span th:if="${webproject?.id} != null" th:text="#{webproject.template.update} + ' ' + ${webproject.identification}"> Update Web Project </span>				
				</h1>
				<!-- END PAGE TITLE-->
				
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light bordered">
							<div class="portlet-title tabbable-line">
								<div class="caption">
									<i class="icon-list font-grey-gallery"></i>
									<span class="caption-subject bold font-grey-gallery uppercase" th:if="${webproject?.id} == null" th:text="#{webproject.template.create}"> Create New Web Project </span>
									<span class="caption-subject bold font-grey-gallery uppercase" th:if="${webproject?.id} != null" th:text="#{webproject.template.update} + ' ' + ${webproject.identification}"> Update Web Project </span>
								</div>
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title=""> </a>
									<a href="" class="fullscreen" data-original-title="" title=""> </a>
								</div>
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1">
									<!-- WEB PROJECT FORM -->
										<div class="row">
											<div class="col-md-12 alert-zone"><!-- ALERTS ZONE -->
												<div class="alert alert-danger display-hide">
													<button class="close" data-close="alert"></button> 
													<span th:text="#{gen.form.error}">You have some form errors. Please check below.</span>
												</div>
												<div class="alert alert-success display-hide">
													<button class="close" data-close="alert"></button> <span th:text="#{gen.form.success}">Your form validation is successful!</span>
												</div>
											</div>
											<div class="col-md-12">
												<form role="form" id="webproject_create_form" th:object="${webproject}" method="post" class="form">
											
													
													<!-- FORM ACTIONS FOR INSERT-->
													<input th:if="${webproject.id} == null" type="hidden" name="action" th:value="@{/webprojects/create}"/>
													
													<!-- FORM ACTIONS FOR UPDATE -->
													<input th:if="${webproject?.id} != null" type="hidden" name="action" th:value="@{'/webprojects/update/'+${webproject.id}}"/>
													<input th:if="${webproject?.id} != null" type="hidden" name="_method" value="PUT"/>
													
													<div class="form-body">
														<!-- user, name and email -->
														<div class="row">																										
															<div class="col-md-12 col-sm-12 col-xs-12">
																<div class="form-group">
																	<label class="" th:text="#{webproject.name} + ':'"> Name </label><span class="required"> (*)</span>
																	<input th:tabindex="1" id="identification" type="text" th:required="true" maxlength="50" th:field="*{identification}" class="form-control "  th:placeholder="#{webproject.name}"/>
																</div>
															</div>
															<div class="col-md-12 col-sm-12 col-xs-12">
																<div class="form-group">
																	<label th:text="#{webproject.description}"> Description </label><span class="required"> (*)</span>
																	<textarea th:tabindex="3" class="element textarea small form-control" id="description" name="description" maxlength="512" th:field="*{description}" th:required="true"  cols="" rows=""></textarea>
																</div>
															</div>
															<div class="col-md-12 col-sm-12 col-xs-12">
																<div class="form-group">
																	<label th:text="#{webproject.mainFile}"> Main File </label>
																	<input th:tabindex="1" id="mainFile" type="text" maxlength="100" th:field="*{mainFile}" class="form-control " th:placeholder="index.html"/>														
																</div>
															</div>
															<div class="col-md-12 col-sm-12 col-xs-12">
																<div class="form-group">
																	<button id="uploadZIP" type="button" class="btn btn-square btn-default" name="uploadZIP"  th:value="#{webproject.uploadZIP}" onclick="$('#buttonLoadRootZip').click();"> <span th:text="#{webproject.uploadZIP}"> Upload ZIP </span></button>															
																</div>
															</div>
														</div>												
													</div>
													
													<!-- FORM BUTTONS -->
													<div class="form-actions">
														<div class="pull-right">
															<!-- CREATE -->
															<button th:if="${webproject?.id} == null" id="createBtn" type="submit" class="btn btn-square btn-success" name="create"><i class="la la-check"></i> <span th:text="#{gen.createBtn}"> New</span></button>
															
															<!-- UPDATE -->
															<button th:if="${webproject?.id} != null" id="updateBtn" type="submit" class="btn btn-square btn-warning" name="update" th:value="#{gen.editBtn}" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit</span></button>
															
															<!-- REMOVE -->
															<button th:if="${webproject?.id} != null" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
															
															<!-- RESET -->
															<button id="resetBtn" type="button" class="btn btn-square btn-default" name="reset"  th:value="#{gen.resetBtn}" ><i class="la la-refresh"></i> <span th:text="#{gen.resetBtn}"> Reset</span></button>
															
															<span class="sep" th:text="#{gen.sepBtn}"> or </span>
															
															<!-- CANCEL TO-DO: authentication and control -->
															<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} != 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:OntologyCreateController.go(\'' + @{/} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
															<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:OntologyCreateController.go(\'' + @{/ontologies/list} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
														</div>
													</div>
												</form>
												
												<div>
													<form id="upload_zip" enctype="multipart/form-data" method="post" action="/controlpanel/webprojects/uploadZip">
						                                <input class="form-group button_text" 
						                                        id="buttonLoadRootZip" type="file"
						                                        accept=".zip"
						                                        style="display:none"
						                                        onchange="WebProjectCreateController.uploadZip()"
						                                        th:for="#{webproject.uploadZIP}"
						                                        th:name="#{webproject.uploadZIP}"
						                                        />
						                                <input type="hidden" id="pathZipUpload" name="path" for="path" value=""/>
					                               		<input type="submit" style="display:none" value="submitZip" id="submitZip" />
													</form>
	<!-- 											   <fieldset >
						                                <button 
							                                id="buttonOpenProjectWeb" type="button"
							                                class="btn btn-square btn-default"
							                                onclick="window.openProject()"
							                                th:value="#{proyectoweb_formulario_visualizar}"
							                                th:name="#{proyectoweb_formulario_visualizar}" ></button>
						                             </fieldset>
	  -->                            				
												<!--  	<form id="upload_file" enctype="multipart/form-data" method="post" action="/controlpanel/webprojects/uploadFile">
				                                        <input class="form-group button_text" 
				                                                id="buttonLoadFile" type="file"
				                                                style="display:none"
				                                                onchange="uploadFile()"
				                                                th:for="#{webproject.uploadFile}"
				                                                th:name="#{webproject.uploadFile}" 
				                                                />
				                                        <input type="hidden" id="pathFileUpload" name="path" for="path" value=""/>
				                                        <button id="uploadFile" type="button" class="btn btn-square btn-default" name="uploadFile"  th:value="#{webproject.uploadFile}" onclick="$('#buttonLoadFile').click();"> <span th:text="#{webproject.uploadFile}"> Upload File </span></button>
				                                        <input type="submit" style="display:none" value="submitFile" id="submitFile" />
				                                    </form>
				                                    -->
												</div>
												
											</div>
										</div>
									</div>
								</div>							
							</div>
						</div><!-- END PORTLET BASIC  -->
					</div><!-- END COL-12 -->
				</div><!-- END MAIN ROW -->
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->
	</div>
	<!-- END MAIN PAGE WRAPPER -->

	<!-- FOOTER INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>

	<!-- CORE JS CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>

	<!-- PLUGINS -->
	<script th:src="@{/static/vendor/bootstrap-select/bootstrap-select.min.js}"/>
	<script th:src="@{/static/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js}"/>
	<!-- LOADING DEFAULT DATES IF NEEDED -->
	<script th:if="${lang} == 'es'" th:src="@{/static/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js}" type="text/javascript"></script>
	
	<script th:src="@{/static/vendor/jquery-validation/jquery.validate.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/vendor/jquery-validation/additional-methods.min.js}" type="text/javascript"></script>
	<!-- LOADING DEFAULT LANG MESSAGES IF NEEDED -->
	<script th:if="${lang} == 'es'" th:src="@{/static/vendor/jquery-validation/localization/messages_es.min.js}" type="text/javascript"></script>

	<script th:src="@{/static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/vendor/json/mountable.min.js}" type="text/javascript"></script>
	
	<!-- JSON EDITOR -->
	<script th:src="@{/static/vendor/json/json2.min.js}"/>
	<script th:src="@{/static/vendor/json/jsoneditor.js}"/>
	
	<script th:src="@{/static/vendor/ace/ace.js}" charset="utf-8"/>
	<script th:src="@{/static/vendor/ace/mode-json.js}"/>
	<script th:src="@{/static/vendor/ace/theme-textmate.js}"/>
	
	
	<!-- INPUTMASK -->
	<script th:src="@{/static/vendor/jquery-inputmask/dist/min/jquery.inputmask.bundle.min.js}"/>
	

	<!-- TEMPLATE CONTROLLER  -->	
	<script th:src="@{/static/js/pages/webProjectCreate.js}"/>

	<!-- MAIN INIT -->
	<script  th:inline="javascript">
	
			
	var currentLanguage = [[${lang}]];	
	
	var webProjectCreateJson = { 	
			"language" : currentLanguage
		};   
	
	</script>	
</body>
</html>