
<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" th:with="lang=${#locale.language}" th:lang="${lang}">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>
	    <meta name="description" content="Gadget list template"/>
		<meta name="keywords" content="sofia2,smart,cities,platform,Indra"/>
		<meta name="author" content="Indra Sistemas, S.A."/>
		
		<!-- BEGIN WEB FONT -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		
		<script>
		    window.__env = window.__env || {};
		    window.__env.socketEndpointConnect = '/dashboardengine/dsengine/solver';
		    window.__env.socketEndpointSend = '/dsengine/solver';
		    window.__env.socketEndpointSubscribe = '/dsengine/broker';
		    window.__env.endpointSofia2ControlPanel = '/controlpanel';
		    window.__env.endpointSofia2DashboardEngine = '/dashboardengine';
		    window.__env.dashboardEngineUsername = 'administrator';
		    window.__env.dashboardEnginePassword = 'changeIt!';
		    window.__env.dashboardEngineLoginRest = '/loginRest';
		    window.__env.enableDebug = false;
		
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/gadgets.css}"/>
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>
		
		<!-- PLUGINS STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/datatable/datatables.bootstrap.css}"/>
		
		<!-- Dashboard styles -->
		
		<link rel="stylesheet" href="/controlpanel/static/dashboards/styles/vendor.css"/>
	
		<link rel="stylesheet" href="/controlpanel/static/dashboards/gridster.css"/>
	
		<link rel="stylesheet" href="/controlpanel/static/dashboards/styles/app.css"/>	
	</head>	
	
	<!-- page-sidebar-closed to start page with collapsed menu -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">


	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- BEGIN HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>		
			
		<!-- BEGIN SIDEBAR -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
		
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				
				<!-- BEGIN PAGE BAR AND BREADCRUM -->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/gadgets/list}"> <span th:text="#{name.visualization}">Visualization</span></a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/gadgets/list}"> <span th:text="#{gadgets.my}">My Gadgets</span></a><i class="fa fa-circle"></i> </li>
						<li><span th:text="#{gadgets.create}">Create Gadget</span></li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{gadgets.new}">New Gadget</span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">
					
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-list font-grey-gallery"></i>
									<span class="caption-subject bold font-grey-gallery uppercase"> New Gadget </span>
									<!-- <span class="caption-helper">Subtitulo de contenedor</span> -->
								</div>									
								<div class="tools">
									<!--  <a href="" class="collapse" data-original-title="" title=""> </a>-->
									<a href="" class="fullscreen" data-original-title="" title=""> </a>
								</div>
								
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								
								<div class="row">
									<div class="col-md-12 alert-zone">
										<!-- ALERT ZONE -->																			
									</div>		
																	
									<div class="col-md-12 margin-bottom-20">
									
									  
									  <form role="form" id="gadget_create_form" th:object="${gadget}" method="post" class="form">
									  		<!-- FORM ACTIONS FOR INSERT-->
											<input th:if="${gadget.id} == null" type="hidden" name="action" th:value="@{/gadgets/create}"/>
											
											<!-- FORM ACTIONS FOR UPDATE -->											
											<input th:if="${gadget.id} != null" type="hidden" name="action" th:value="@{/gadgets/update}"/>
											<input th:if="${gadget.id} != null" type="hidden" name="_method" value="PUT"/>
								 			
								 			<input type="hidden" id="config" th:field="*{config}"/>
								 			<input type="hidden" id="type" th:field="*{type}"/>
								 			<input type="hidden" id="description" th:field="*{description}"/>
								 			<input type="hidden" id="public" th:field="*{public}"/>
								 			<input type="hidden" id="id" th:field="*{id}"/>
								 			<input type="hidden" id="jsonMeasures" name="jsonMeasures" />
								 			<input type="hidden" id="datasourcesMeasures" name="datasourcesMeasures" />
								 										  
											<div class="form-body">
									 			<div class="row">
									 			<div class="form-group">
									 			 	<div class="col-md-6">
														<i class="fa fa-credit-card"></i>  <label class="control-label"  th:text="#{gen.name} + ':'">Name</label>
																<div class="input-icon ">
																	<i class="fa fa-credit-card"></i>
																	<input id="identification" type="text" name="identification"  th:required="true"   maxlength="50" th:field="*{identification}" class="form-control " th:placeholder="#{gen.name}" />
															    </div>															
														</div>	
														<div class="col-md-6"> 
														
														<div class="form-group">
															<i class="fa fa-database"></i>  <label class="control-label" th:text="#{datasources.name} + ':'">Datasource</label>
															<div class="input-icon ">
																<i class="la la-database"></i>
															<select th:readonly="${gadget.id} != null" readonly="readonly" id="datasources" class="selectpicker form-control" onchange="showGadgetSelect()" data-live-search="true" data-width="100%" th:title="#{datasources.name}" th:required="true">
																<option value="none"></option> 
																<option th:each="datasource:${datasources}" th:value="${datasource.id}" th:text="${datasource.identification}"></option>
															</select>
																								
															</div>
														</div>
												    </div>
																											
														</div>
													</div>
									 			</div>
									
																		 
									 	
									 
									 <!-- Aquí irán los iconos de los gráficos -->
									 <div  class="container">
									 	<div id="icons" class="row">
									 	 			 	
									 					 		
									 	</div>
									 </div>		
									 
									 <!-- Aquí el select de datasource -->
									 <div id="measuresContainer" style="display:none" class="col-md-12 row" >
									 	 <h3>Measures</h3>
										 <div id="measures">
										   
										 </div>
										 <button id="addMore" style="display:none;margin-top:10px" class="btn btn-success pull-right" onclick="addFormSttByType(event,true)">Add measure</button>
									 </div>
									<div id="viewer" style="height:300px; width:100%;display:inline-block">
										<div id="gapp" ng-app="s2DashboardFramework">
										<gadget style="height:300px;width:100%;display:inline-block" class="flex layout-column"></gadget>
										</div>
										
										<script src="/controlpanel/static/dashboards/scripts/vendor.js"></script>
										
										<script src="/controlpanel/static/dashboards/gridster.js"></script>
										
										<!-- Angular Material Fileinput -->
										<link rel="stylesheet" href="/controlpanel/static/dashboards/resources/lf-ng-md-file-input.min.css"/>
										<script src="/controlpanel/static/dashboards/resources/lf-ng-md-file-input.min.js"></script>
										
										<script src="/controlpanel/static/dashboards/scripts/app.js"></script>
									</div>
									<div style="margin-top:20px" class="form-actions">
										<div class="pull-right">
											<!-- CREATE -->
												<button th:if="${gadget.identification} == null" id="createBtn" type="submit" class="btn btn-square btn-success btn-lg" name="create"  th:value="#{gadgets.create}" > <span th:text="#{gadgets.create}"> Create</span></button>
											<!-- UPDATE -->
												<button th:if="${gadget.id} != null" id="updateBtn" type="submit" class="btn btn-square btn-warning" name="update"  th:value="#{gen.editBtn}" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit</span></button>
													
											<!-- REMOVE -->
												<button th:if="${gadget.id} != null" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" th:onclick="'GadgetsCreateController.deleteGadget(\'' + ${gadget.id} + '\');'" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
										</div>
									</div>
									</form>					
									<!-- AUXILIAR FORM TO DELETE DATASOURCE -->
									<form id="delete_gadget_form" class="delete-gadget hide"  th:action="@{'/gadgets/'+${gadget.id}}"  method="post">
										<input type="hidden" name="_method" value="DELETE"/>
										<input type="hidden" name="id" th:value="${gadget.id}"/>
									</form>																	
									</div>
								</div>
							</div>
						</div>  <!-- END PORTLET BASIC LIGHT -->							
					</div><!-- END COL-12 -->						
				</div><!-- END MAIN ROW -->				
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	  </div>
	 
</body>

	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER-INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>	
	
	<!-- CORE CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>
	
	<!-- PLUGINS -->
	<script th:src="@{/static/vendor/jquery/jquery.dataTables.min.js}"/>
	<script th:src="@{/static/vendor/datatable/datatables.bootstrap.js}"/>	
	<script th:src="@{/static/vendor/jquery/jquery.autocomplete.js}"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.4/muuri.min.js"></script>
	
	<!-- TEMPLATE CONTROLLER  -->	
	<script th:src="@{/static/js/pages/gadgetsCreate.js}"/>
	
	<script th:inline="javascript">
	
	 $("#createBtn,#updateBtn").on("click", function() {
		// <![CDATA[
		generateMeasuresArray();
		
     	$("#jsonMeasures").val(JSON.stringify(measures));
     	$("#datasourcesMeasures").val(JSON.stringify([$("#datasources").val()]));
     	$("#type").val(gtype); 
     	$("#gadget_create_form").get(0).submit();
     });
	
	var gadget= [ {
		type : "line",
		icon : "/controlpanel/images/dashboards/linechart.jpg",

		attributes : [ {
			name : "X axis",
			types : [ "date", "number", "string" ]
		}, {
			name : "Y axis",
			types : [ "number" ]
		} ],
		series : {
			maxseries : -1,
			options : {
				"title" : "Series options",
				"type" : "object",
				"properties" : {
					"Name" : {
						"type" : "string",
						"description" : "Serie name"
					},
					"Color" : {
						"type" : "string",
						"format" : "color",
						"title" : "Serie color",
						"default" : "#ffa500"
					}
				}
			}
		},
		options : {
			beginToZero : true
		}
	}, {
		type : "bar",
		icon : "/controlpanel/static/images/dashboards/barchart.jpg",
		attributes : [ {
			name : "X axis",
			types : [ "date", "number", "string" ]
		}, {
			name : "Y axis",
			types : [ "number" ]
		} ],
		series : {
			maxseries : -1,
			options : {
				"title" : "Series options",
				"type" : "object",
				"properties" : {
					"Name" : {
						"type" : "string",
						"description" : "Serie name"
					},
					"Color" : {
						"type" : "string",
						"format" : "color",
						"title" : "Serie color",
						"default" : "#ffa500"
					}
				}
			}
		},
		options:{}
	},

	{
		type : "pie",
		icon : "/controlpanel/static/images/dashboards/piechart.jpg",
		attributes : [ {
			name : "X axis",
			types : [ "date", "number", "string" ]
		}, {
			name : "Y axis",
			types : [ "number" ]
		} ],
		series : {
			maxseries : 1,
			options : {
				"title" : "Series options",
				"type" : "object",
				"properties" : {
					"Name" : {
						"type" : "string",
						"description" : "Serie name"
					},
					"Color" : {
						"type" : "string",
						"format" : "color",
						"title" : "Serie color",
						"default" : "#ffa500"
					}
				}
			}
		},
		options:{}
	},

	{
		type : "map",
		icon : "/controlpanel/static/images/dashboards/bordermap.png",
		attributes : [ {
			name : "Latitude",
			types : [ "number" ]
		}, {
			name : "Longitude",
			types : [ "number" ]
		}, {
			name : "Popup",
			types : [ "number", "string", "boolean" ],
			multi :true //multivalue
		} ],
		series : {
			maxseries : 1,
			options : {
			}
		},
		options:{
			center:{
				lat:30,
				lng:30,
				zoom:2
			}
		}
	}, {
		type : "wordcloud",
		icon : "/controlpanel/static/images/dashboards/wordchart.jpg",
		attributes : [ {
			name : "Words",
			types : [ "number", "string" ]
		}],
		series : {
			maxseries : 1,
			options : {
			}
		},
		options:{
		}
	}

	];
	
	//De momento pruebo sin parámetros. Añado en JSON en la función..
	function showGadgetSelect(){
		$("#icons").empty();
		$("#vercamposdatasource").empty();
		
		$("#measuresContainer").show();
		
		if(($("#datasources").val())!="none"){ 
		
		
		$.each(gadget, function() {
				var Type = this.type;
				var Icon = this.icon;
					
				$("#icons").append('<div class="col-md-3"> <div class="card card-01" id="' + Type + '" onclick="showMeasures(\'' + Type + '\')"> <h4 class="text-center font-title">'+Type+'</h4> <img class="card-img-top cursor" src="'+Icon+'"></img></div></div>');
				
			} )
		  }
		
	}
	
	function iterate(obj, stack, fields) {
    	for (var property in obj) {
           if (obj.hasOwnProperty(property)) {
               if (typeof obj[property] == "object") {
                   iterate(obj[property], stack + (stack==""?'':'.') + property, fields);
        } else {
                   fields.push({field:stack + (stack==""?'':'.') + property, type:typeof obj[property]});
               }
           }
      	}    
      	return fields;
   	}
	
	var stt;
	
	function addFormSttByType(e,loadOptions){
		if(e){
			e.preventDefault();	
		}
		var measure = "";
		var division;
		switch (stt.attributes.length){
			case 1: division='col-md-5';break;
			case 2: division='col-md-3';break;
			case 3: division='col-md-2';break;
			default: division='col-md-1';break;
		}
		
		var mhtml = '<div class="gserie col-md-12">';
		for(var i = 0; i < stt.attributes.length; i++){
			var atr = stt.attributes[i];
			mhtml += '<div class="form-group ' + division + '">';
			mhtml += '<label class="control-label"> ' + atr.name + ' </label>';
			mhtml += '<select id="s_' + $(".gserie").length + '_' + i + '" ' + (atr.multi?'multiple=multiple':'') + ' onchange="refreshGadget()" class="form-control ' + atr.types.join(" ") + '" data-live-search="true" data-width="100%">';
			if(loadOptions){
				for(var o = 0 ; o < gfields.length;o++){
					mhtml += '<option value="' + gfields[o].field + '">' + gfields[o].field + '</option>'
				}
			}
			mhtml += '</select>';
			mhtml	+= '</div>'
		}
		
		mhtml += '<div class="form-group ' + division + '">';
		mhtml += '<label class="control-label"> Name </label>';
		mhtml += '<input onchange="refreshGadget()" id="n_' + $(".gserie").length + '" class="form-control" data-live-search="true" data-width="100%"/>'
		mhtml += '</div>'
		if($(".gserie").length > 0 && (stt.series.maxseries > (1 + $(".gserie").length) || stt.series.maxseries == -1)){
			mhtml += '<button class="btn btn-danger" style="margin-top:10px" onclick="removeMeasure(' + $(".gserie").length + ')">Remove measure</button>'
		}
		mhtml += '</div>'
		
		$("#measures").append(mhtml);
		if(stt.series.maxseries != -1 && stt.series.maxseries >= $(".gserie").length){
			$("#addMore").hide();
		}
		else{
			$("#addMore").show();
		}
		if(loadOptions){
			refreshGadget()
		}
	}
	
	function isNormalInteger(str) {
	    var n = Math.floor(Number(str));
	    return n !== Infinity && String(n) === str && n >= 0;
	}
	
	function generateMeasuresArray(){
		measures = [];
		for(var s =0 ;s < $(".gserie").length; s++){
			var selects = $($(".gserie").get(s)).find("select");
			var config = {fields:[],name:""};
			for(var sel = 0;sel < selects.length;sel++){
				var fieldAux = $("#s_" + s + "_" + sel).val();
				if(typeof fieldAux !== "object"){
					var pathFields = fieldAux.split(".");
					var realField = pathFields[0];
					for(var i=1;i<pathFields.length;i++){
						if(isNormalInteger(pathFields[i])){
							pathFields[i] = "[" + pathFields[i] + "]"
							realField += pathFields[i];
						}
						else{
							realField += "." + pathFields[i];
						}
					}
					config.fields.push(realField);
				}
				else{
					for(var fi = 0; fi < fieldAux.length; fi++){
						var pathFields = fieldAux[fi].split(".");
						var realField = pathFields[0];
						for(var i=1;i<pathFields.length;i++){
							if(isNormalInteger(pathFields[i])){
								pathFields[i] = "[" + pathFields[i] + "]"
								realField += pathFields[i];
							}
							else{
								realField += "." + pathFields[i];
							}
						}
						config.fields.push(realField);
					}
				}
			}
			config.name = $("#n_" + s).val();			
			measures.push({config:JSON.stringify(config)});
		}
	}
	
	function refreshGadget(){
		generateMeasuresArray();
		if(measures.length > 0){
	        var scope = angular.element(document.getElementsByTagName('gadget')[0]).scope();
			scope.$$childHead.vm.config = {config:"{}",type:gtype};			
			scope.$$childHead.vm.measures = measures;
			scope.$$childHead.vm.ds = $("#datasources").val();
			scope.$$childHead.reloadContent();
		}
	}
	
	function removeMeasure(index){
		$(".gserie")[index].remove();
		$("#addMore").show();
		refreshGadget();
	}
	
	var measures=[];
	var gtype = "";
	var gfields = [];
	function showMeasures(type){
		gtype =type;
		$.get("/controlpanel/datasources/getSampleDatasource/" + $("#datasources").val(), function (jsonString){
			gfields = iterate(jsonString[0],"", []);
		    stt = gadget.filter(function(g){return g.type == type})[0];
		    if(measures.length == 0){
		    	$("#measures").empty().append(addFormSttByType());
		    }
		    else{
		    	$("#measures").empty();
		    	for(var i=0;i<measures.length;i++){
					$("#measures").append(addFormSttByType());
		    	}
		    }
		    
			for (var i in gfields){
		    	$('.' + gfields[i].type).append('<option value="' + gfields[i].field + '">' + gfields[i].field + '</option>');
		    }
			for(var i=0;i<measures.length;i++){
				var config = JSON.parse(measures[i].config);
				var fields = config.fields;
				for(var f=0;f<fields.length;f++){
					var fieldAux = fields[f].replace("[",".").replace("]","");
					if($("#s_" + i + "_" + f).attr("multiple")){
						var values=fields.slice(f);
						$("#s_" + i + "_" + f).val(values);
						break;
					}
					else{
						$("#s_" + i + "_" + f).val(fieldAux);
					}
				}
				$("#n_" + i).val(config.name);
			}
			
			refreshGadget();
		});		
	}
	// ]]>
	$(document).ready(
		function(){
			if($("#id").val()){
				measures = /*[[${measures}]]*/ [];
				$("#datasources").val(measures[0].datasource.id);
				$("#datasources").change();
				$("#" + $("#type").val() + "").click();
			}
		}
	)
	
	</script>
	
</html> 
