
<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>
	    <meta name="description" content="Gadget list template"/>
		<meta name="keywords" content="sofia2,smart,cities,platform,Indra"/>
		<meta name="author" content="Indra Sistemas, S.A."/>
		
		<!-- BEGIN WEB FONT -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
		
		<script>
		    window.__env = window.__env || {};
		    window.__env.socketEndpointConnect = '/dashboardengine/dsengine/solver';
		    window.__env.socketEndpointSend = '/dsengine/solver';
		    window.__env.socketEndpointSubscribe = '/dsengine/broker';
		    window.__env.endpointSofia2ControlPanel = '/controlpanel';
		    window.__env.endpointSofia2DashboardEngine = '/dashboardengine';
		    window.__env.dashboardEngineUsername = 'administrator';
		    window.__env.dashboardEnginePassword = 'changeIt!';
		    window.__env.dashboardEngineLoginRest = '/loginRest';
		    window.__env.enableDebug = false;
		
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<!-- <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/gadgets.css}"/> -->
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>
		
		<!-- PLUGINS STYLE SHEETS -->
			
		<!-- Dashboard styles -->		
		<link rel="stylesheet" href="/controlpanel/static/dashboards/styles/vendor.css"/>	
		<link rel="stylesheet" href="/controlpanel/static/dashboards/gridster.css"/>
		<link rel="stylesheet" href="/controlpanel/static/dashboards/styles/app.css"/>
		
		<style>
		md-progress-circular { display: hide; visibility: hidden; }
		</style>
	</head>	
	
	<!-- page-sidebar-closed to start page with collapsed menu -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">


	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- BEGIN HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>		
			
		<!-- BEGIN SIDEBAR -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
		
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				
				<!-- BEGIN PAGE HEADER-->
				
				<!-- BEGIN PAGE BAR AND BREADCRUM -->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/gadgets/list}"> <span th:text="#{gadgets.my}">My Gadgets</span></a><i class="fa fa-circle"></i> </li>
						<li><span th:text="#{gadgets.create}">Create Gadget</span></li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{gadgets.new}"></span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">
					
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-list font-grey-gallery"></i>
									<span class="caption-subject bold font-grey-gallery uppercase" th:text="#{gadgets.new}"> New Gadget </span>
									<!-- <span class="caption-helper">Subtitulo de contenedor</span> -->
								</div>									
								<div class="tools">
									<!--  <a href="" class="collapse" data-original-title="" title=""> </a>-->
									<a href="" class="fullscreen" data-original-title="" title=""> </a>
								</div>
								
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								
								<div class="row">
									<div class="col-md-12 alert-zone">
										<!-- ALERT ZONE -->																			
									</div>		
									<div class="col-md-12 margin-bottom-20">									
										<form role="form" id="gadget_create_form" th:object="${gadget}" method="post" class="form">
									  		<!-- FORM ACTIONS FOR INSERT-->
											<input th:if="${gadget.id} == null" type="hidden" name="action" th:value="@{/gadgets/create}"/>
											
											<!-- FORM ACTIONS FOR UPDATE -->											
											<input th:if="${gadget.id} != null" type="hidden" name="action" th:value="@{/gadgets/update}"/>
											<input th:if="${gadget.id} != null" type="hidden" name="_method" value="PUT"/>								 			
								 			<input type="hidden" id="config" th:field="*{config}"/>
								 			<input type="hidden" id="type" th:field="*{type}"/>
								 			<input type="hidden" id="description" th:field="*{description}"/>
								 			<input type="hidden" id="public" th:field="*{public}"/>
								 			<input type="hidden" id="id" th:field="*{id}"/>
								 			<input type="hidden" id="jsonMeasures" name="jsonMeasures" />
								 			<input type="hidden" id="datasourcesMeasures" name="datasourcesMeasures" />
								 										  
											<div class="form-body">
									 			<div class="row">
													<div class="col-md-12"> 
														<div class=" hidden alert alert-info alert-dismissable">
															<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
															<i class="fa fa-info-circle"></i> <strong>Plantilla de Ontología</strong> 
															<span>Para crear una ontología, debe partir de un Datamodel esquema, que no es más qeu un conjunto de campos que definen su ontología. Si quiere usar alguna de las que le proponemos, seleccionela del siguiente selector. Puede usar EMPYBASE si quiere hacer el esquema desde 0.</span>															
														</div>
													</div>												
													<div class="col-md-6 col-sm-12">
														<div class="form-group">
															<i class="fa fa-credit-card"></i>  <label class="control-label"  th:text="#{gen.name} + ':'">Name</label>
															<div class="input-icon ">
																<i class="fa fa-credit-card"></i>
																<input th:disabled="${gadget.id} != null" id="identification" type="text" name="identification"  th:required="true"   maxlength="50" th:field="*{identification}" class="form-control " th:placeholder="#{gen.name}" />
															</div>
														</div>
													</div>	
													<div class="col-md-6 col-sm-12">														
														<div class="form-group">
															<i class="fa fa-database"></i>  <label class="control-label" th:text="#{datasources.name} + ':'">Datasource</label>
															<div class="input-icon ">
																<i class="la la-database"></i>
																<select th:readonly="${gadget.id} != null" readonly="readonly" th:disabled="${gadget.id} != null" id="datasources" class="selectpicker form-control" onchange="showGadgetSelect()" data-live-search="true" data-width="100%" th:title="#{datasources.name}" th:required="true">
																	<option value="none"></option> 
																	<option th:each="datasource:${datasources}" th:value="${datasource.id}" th:text="${datasource.identification}"></option>
																</select>
															</div>
														</div>
													</div>													
													<div class="clearfix"></div>													
												</div>
												
												 <!-- GADGETS IMAGES -->
												 <div class="row">
													<div id="icons" class="col-md-12 margin-top-10"></div>
												 </div>		
												 <div class="clearfix"></div>
												 
												 <!-- CONFIG GADGET -->
												 <div id="configContainer" class="hide col-md-12 margin-bottom-20">
													<h4><i class="fa fa-wrench"></i> Gadget Axis config:</h4>
													<!-- DYNAMICAL CONFIG -->
													<div id="configGadget"></div>
													<div class="pull-left margin-bottom-20">														
														<button id="addMoreAxes" style="margin-left: 30px;margin-top: 5px;" class="btn green-haze btn-sm btn-outline uppercase" onclick="addAxes(event)"><i class="fa fa-plus"></i> Add axis</button>
													</div>
												 </div>
												 
												 <!-- MEASURES -->
												 <div id="measuresContainer" class="hide col-md-12 margin-bottom-20">
													<h4><i class="fa fa-edit"></i> Measures:</h4>
													<!-- DYNAMICAL MEASURES -->
													<div id="measures"></div>
													<div class="pull-left margin-bottom-20">														
														<button id="addMore" style="display:none;margin-left: 30px;margin-top: 5px;" class="btn green-haze btn-sm btn-outline uppercase" onclick="addFormSttByType(event,true)"><i class="fa fa-plus"></i> Add measure</button>
													</div>
												 </div>
												<!-- VIEWER -->
												<div id="viewer" class="hide col-md-offset-1 col-md-10 col-xs-12 bg-grey-carrara" style="border: 2px dotted #f5f5f5; padding: 10px 15px 10px 15px">
													<div id="gapp" ng-app="s2DashboardFramework">
													<gadget style="height:300px;width:100%;display:inline-block" class="flex layout-column"></gadget>
													</div>
												</div>
												<div class="clearfix"></div>
												<div style="margin-top:20px" class="form-actions">
													<div class="pull-right">
														<!-- CREATE -->
															<button th:if="${gadget.identification} == null" id="createBtn" type="submit" class="btn btn-square btn-success " name="create"><i class="la la-check"></i> <span th:text="#{gen.createBtn}"> New</span></button>
														<!-- UPDATE -->
															<button th:if="${gadget.id} != null" id="updateBtn" type="submit" class="btn btn-square btn-warning" name="update"><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit</span></button>
																
														<!-- REMOVE -->
															<button th:if="${gadget.id} != null" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" th:onclick="'GadgetsCreateController.deleteGadget(\'' + ${gadget.id} + '\');'" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
															
															<span class="sep" th:text="#{gen.sepBtn}"> or </span>
													
														<!-- CANCEL  -->
														<button id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:GadgetsCreateController.go(\'' + @{/gadgets/list} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
													</div>
												</div>
											</div>
										</form>					

										<!-- AUXILIAR FORM TO DELETE DATASOURCE -->
										<form id="delete_gadget_form" class="delete-gadget hide"  th:action="@{'/gadgets/'+${gadget.id}}"  method="post">
											<input type="hidden" name="_method" value="DELETE"/>
											<input type="hidden" name="id" th:value="${gadget.id}"/>
										</form>																	
									</div>
								</div>
							</div>
						</div>  <!-- END PORTLET BASIC LIGHT -->							
					</div><!-- END COL-12 -->						
				</div><!-- END MAIN ROW -->				
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	  </div>
	 
</body>

	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER-INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>	
	
	<!-- CORE CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>
	
	<!-- PLUGINS -->	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.4/muuri.min.js"></script>
	
	<!-- TEMPLATE CONTROLLER  -->	
	<script th:src="@{/static/js/pages/gadgetsCreate.js}"/>
	
	
	<script src="/controlpanel/static/dashboards/scripts/vendor.js"></script>										
	<script src="/controlpanel/static/dashboards/gridster.js"></script>
	
	<!-- Angular Material Fileinput -->
	<link rel="stylesheet" href="/controlpanel/static/dashboards/resources/lf-ng-md-file-input.min.css"/>
	<script src="/controlpanel/static/dashboards/resources/lf-ng-md-file-input.min.js"></script>
	<script src="/controlpanel/static/dashboards/scripts/app.js"></script>
	
	<script th:inline="javascript">
	
	 $("#createBtn,#updateBtn").on("click", function() {
		// <![CDATA[
		generateMeasuresArray();
		
     	$("#jsonMeasures").val(JSON.stringify(measures));
     	$("#datasourcesMeasures").val(JSON.stringify([$("#datasources").val()]));
     	$("#type").val(gtype);
     	//if(gtype === 'map'){
     		var scope = angular.element(document.getElementsByTagName('gadget')[0]).scope();
     		$("#config").val(JSON.stringify(scope.$$childHead.vm.config.config));
     	//}
     	//else{
     	//	$("#config").val("{}");
     	//}
     	$("#gadget_create_form").get(0).submit();
     });
	
	var gadget= [ {
		type : "line",
		icon : "/controlpanel/images/dashboards/lines-gadget.png",

		attributes : [ {
			name : "X axis",
			types : [ "date", "number", "string" ]
		}, {
			name : "Y axis",
			types : [ "number" ]
		} ],
		series : {
			maxseries : -1,
			options : [
				{
					"type" : "color",
					"name" : "Color",
					"default" : "#ffa500",
					"jsonFields" : ["backgroundColor","borderColor","pointBackgroundColor"]
				},
				{
					"type" : "select",
					"name" : "Y Axis ID",
					"class" : "yaxisselector",
					"ref" : '$(".axis_id").splice(0,$(".axis_id").length).map(function(e){return e.value})',
					"jsonFields": ["yAxisID"]
				},
				{
					"type" : "boolean",
					"name" : "Fill Serie",
					"jsonFields": ["fill"]
				}
			]
		},
		options : {
			scales: {
				yAxes: {
					type: "array",
					elems: {
						
					}
				}
			}
		}
	}, {
		type : "bar",
		icon : "/controlpanel/static/images/dashboards/bars-gadget.png",
		attributes : [ {
			name : "X axis",
			types : [ "date", "number", "string" ]
		}, {
			name : "Y axis",
			types : [ "number" ]
		} ],
		series : {
			maxseries : -1,
			options : [
				{
					"type" : "color",
					"name" : "Color",
					"default" : "#ffa500",
					"jsonFields" : ["backgroundColor","borderColor","pointBackgroundColor"]
				},
				{
					"type" : "select",
					"name" : "Y Axis ID",
					"class" : "yaxisselector",
					"ref" : '$(".axis_id").splice(0,$(".axis_id").length).map(function(e){return e.value})',
					"jsonFields": ["yAxisID"]
				}
			]
		},
		options:{}
	},

	{
		type : "pie",
		icon : "/controlpanel/static/images/dashboards/pie-gadget.png",
		attributes : [ {
			name : "X axis",
			types : [ "date", "number", "string" ]
		}, {
			name : "Y axis",
			types : [ "number" ]
		} ],
		series : {
			maxseries : 1,
			options : []
		},
		options:{}
	},

	{
		type : "map",
		icon : "/controlpanel/static/images/dashboards/map-gadget.png",
		attributes : [ {
			name : "Latitude",
			types : [ "number" ]
		}, {
			name : "Longitude",
			types : [ "number" ]
		}, {
			name : "Point ID",
			types : [ "number", "string", "boolean" ]
		}, {
			name : "Popup",
			types : [ "number", "string", "boolean" ],
			multi :true //multivalue
		} ],
		series : {
			maxseries : 1,
			options : {
			}
		},
		options:{
			center:{
				lat:30,
				lng:30,
				zoom:2
			}
		}
	}, {
		type : "wordcloud",
		icon : "/controlpanel/static/images/dashboards/wordchart.jpg",
		attributes : [ {
			name : "Words",
			types : [ "number", "string" ]
		}],
		series : {
			maxseries : 1,
			options : {
			}
		},
		options:{
		}
	}

	];
	
	//De momento pruebo sin parámetros. Añado en JSON en la función..
	function showGadgetSelect(){
		$("#icons").empty();
		$("#vercamposdatasource").empty();
		$("#measuresContainer").show();
		if(($("#datasources").val())!="none"){ 
		
		
		$.each(gadget, function() {
				var Type = this.type;
				var Icon = this.icon;
				var html_markup = '';
					
				//$("#icons").append('<div class="col-md-3"> <div class="card card-01" id="' + Type + '" onclick="showMeasures(\'' + Type + '\')"> <h4 class="text-center font-title">'+Type+'</h4> <img class="card-img-top cursor" src="'+Icon+'"></img></div></div>');
				html_markup = '<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">' +
				'	<div class="portlet light bordered" id="' + Type + '" >' +
				'		<div class="portlet-title">' +
				'			<div class="caption">' +
				'				<i class=" la la-cube font-green"></i>' +
				'				<span class="caption-subject font-green bold uppercase" onclick="showConfigAndMeasures(\'' + Type + '\')" >'+Type+'</span>' +
				'				<div class="caption-desc font-grey-cascade">Gadget para S4Cities Dashboards</div>' +
				'			</div>' +
				'		</div>' +
				'		<div class="portlet-body">' +
				'			<div class="mt-element-overlay">' +
				'				<div class="row">' +
				'					<div class="col-md-12">' +
				'						<div class="mt-overlay-1" style="height: 20% !important">' +
				'							<img src="'+ Icon +'">' +
				'							<div class="mt-overlay">' +
				'								<ul class="mt-info">' +
				'									<li>' +
				'										<a class="btn default btn-outline" onclick="showConfigAndMeasures(\'' + Type + '\')" >' +
				'											<i class="flaticon-add font-lg bold"></i> ADD GADGET' +
				'										</a>' +
				'									</li>' +
				'								</ul>' +
				'							</div>' +
				'						</div>' +
				'					</div>' +
				'				</div>' +
				'			</div>' +
				'		</div>' +
				'	</div>' +
				'</div>';
				$("#icons").append(html_markup);			
				
				
				
			} )
		  }
		
	}
	
	function iterate(obj, stack, fields) {
    	for (var property in obj) {
           if (obj.hasOwnProperty(property)) {
               if (typeof obj[property] == "object") {
                   iterate(obj[property], stack + (stack==""?'':'.') + property, fields);
        } else {
                   fields.push({field:stack + (stack==""?'':'.') + property, type:typeof obj[property]});
               }
           }
      	}    
      	return fields;
   	}
	
	var stt;
	
	function addAxes(e){
		if(e){
			e.preventDefault();	
		}
		var i = parseInt($(".gcserie .axis_id").last().val().slice(1))+1;
		var gchtml = '';
		gchtml += '<div class="gcserie col-md-12">';
		gchtml += '<div class="form-group col-md-2">';
		gchtml += '<label class="control-label">ID</label>';
		gchtml += '<input disabled="disabled" class="form-control axis_id" data-live-search="true" data-width="100%" id="axis_id_' + i + '" value="#' + i + '"/>';
		gchtml	+= '</div>'
		gchtml += '<div class="form-group col-md-2">';
		gchtml += '<label class="control-label">Position</label>';
		gchtml += '<select onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="position_' + i + '"><option value="right">right</option><option selected="selected" value="left">left</option></select>';
		gchtml	+= '</div>'
		gchtml += '<div class="form-group col-md-2">';
		gchtml += '<label class="control-label">Type</label>';
		gchtml += '<select onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="type_' + i + '"><option selected="selected" value="linear">linear</option><option value="logarithmic">logarithmic</option></select>';
		gchtml	+= '</div>'
		gchtml += '<div class="form-group col-md-2">';
		gchtml += '<label class="control-label">Axis Label</label>';
		gchtml += '<input onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="label_' + i + '"/>';
		gchtml	+= '</div>'
		if($(".gcserie").length > 0){
			gchtml += '<button style="margin-top:26px;" onclick="removeAxes(' + $(".gcserie").length + ')" class="btn red-mint btn-sm btn-outline uppercase"><i class="la la-trash"></i> REMOVE </button>';
		}
		gchtml	+= '</div>'
		$("#configGadget").append(gchtml);
		$(".yaxisselector").append('<option value="' + "#" + i + '">' + "#" + i + "</option>");
	}

	function addFormSttByType(e,loadOptions){
		if(e){
			e.preventDefault();	
		}
		var measure = "";
		var division;
		switch (stt.attributes.length + (Math.floor((!stt.series.options.length?0:stt.series.options.length)/2)+1)){
			case 1: division='col-md-5';break;
			case 2: division='col-md-3';break;
			case 3: case 4: case 5: division='col-md-2';break;
			default: division='col-md-1';break;
		}
		
		var mhtml = '<div class="gserie col-md-12">';
		for(var i = 0; i < stt.attributes.length; i++){
			var atr = stt.attributes[i];
			mhtml += '<div class="form-group ' + division + '">';
			mhtml += '<label class="control-label"> ' + atr.name + ' </label>';
			mhtml += '<select id="s_' + $(".gserie").length + '_' + i + '" ' + (atr.multi?'multiple=multiple':'') + ' onchange="refreshGadget()" class="measureSelect form-control ' + atr.types.join(" ") + '" data-live-search="true" data-width="100%">';
			if(loadOptions){
				for(var o = 0 ; o < gfields.length;o++){
					mhtml += '<option value="' + gfields[o].field + '">' + gfields[o].field + '</option>'
				}
			}
			mhtml += '</select>';
			mhtml	+= '</div>'
		}
		
		mhtml += '<div class="form-group ' + division + '">';
		mhtml += '<label class="control-label"> Name </label>';
		mhtml += '<input onchange="refreshGadget()" id="n_' + $(".gserie").length + '" class="form-control" data-live-search="true" data-width="100%"/>'
		mhtml += '</div>'
		
		for(var i = 0; i < stt.series.options.length; i++){
			var atr = stt.series.options[i];
			mhtml += '<div class="form-group col-md-1">';
			mhtml += '<label class="control-label"> ' + atr.name + ' </label>';
			switch(atr.type){
				case "color":
					mhtml += '<input onchange="refreshGadget()" class="gsoption form-control" type="color"/>'
					break;
				case "select":
					mhtml += '<select onchange="refreshGadget()" class="gsoption form-control + ' + atr.class + '">';
					mhtml += eval(atr.ref).map(function(e){ return '<option value="' + e + '">' + e + '</option>"'})
					mhtml += '</select>';
					break;
				case "boolean":
					mhtml += '<input onchange="refreshGadget()" class="gsoption form-control" type="checkbox"/>'
					break;
			}
			mhtml	+= '</div>'
		}
		
		if($(".gserie").length > 0 && (stt.series.maxseries > (1 + $(".gserie").length) || stt.series.maxseries == -1)){
			mhtml += '<button style="margin-top:26px;" onclick="removeMeasure(' + $(".gserie").length + ')" class="btn red-mint btn-sm btn-outline uppercase"><i class="la la-trash"></i> REMOVE </button>';
		}
		mhtml += '</div>'
		
		$("#measures").append(mhtml);
		if(stt.series.maxseries != -1 && stt.series.maxseries >= $(".gserie").length){
			$("#addMore").hide();
		}
		else{
			$("#addMore").show();
		}
		if(loadOptions){
			refreshGadget()
		}
	}
	
	function isNormalInteger(str) {
	    var n = Math.floor(Number(str));
	    return n !== Infinity && String(n) === str && n >= 0;
	}
	
	function generateMeasuresArray(){
		measures = [];		
		for(var s =0 ;s < $(".gserie").length; s++){
			var selects = $($(".gserie").get(s)).find(".measureSelect");
			var config = {fields:[],name:"",config:{}};
			for(var sel = 0;sel < selects.length;sel++){
				var fieldAux = $("#s_" + s + "_" + sel).val();
				if(typeof fieldAux !== "object"){
					var pathFields = fieldAux.split(".");
					var realField = pathFields[0];
					for(var i=1;i<pathFields.length;i++){
						if(isNormalInteger(pathFields[i])){
							pathFields[i] = "[" + pathFields[i] + "]"
							realField += pathFields[i];
						}
						else{
							realField += "." + pathFields[i];
						}
					}
					config.fields.push(realField);
				}
				else{
					if(fieldAux!=null){
						for(var fi = 0; fi < fieldAux.length; fi++){
							var pathFields = fieldAux[fi].split(".");
							var realField = pathFields[0];
							for(var i=1;i<pathFields.length;i++){
								if(isNormalInteger(pathFields[i])){
									pathFields[i] = "[" + pathFields[i] + "]"
									realField += pathFields[i];
								}
								else{
									realField += "." + pathFields[i];
								}
							}
							config.fields.push(realField);
						}
					}
				}
			}
			var gsoptions = $($(".gserie").get(s)).find(".gsoption");
			for(var i =0; i < gsoptions.length; i++){
				var v = gsoptions[i].value;
				if(gsoptions[i].type === "checkbox"){
					v = gsoptions[i].checked;
				}
				stt.series.options[i].jsonFields.map(function(opt){config.config[opt]=v});
			}
			config.name = $("#n_" + s).val();			
			measures.push({config:JSON.stringify(config)});
		}
	}
	
	function refreshGadget(){
		generateMeasuresArray();
		if(measures.length > 0){
	        var scope = angular.element(document.getElementsByTagName('gadget')[0]).scope();
	        if(gtype === "map"){
	        	if(!scope.$$childHead.vm.config.config && !$("#config").val()){
	        		scope.$$childHead.vm.config = {config:"{\"center\":{\"lat\":30,\"lng\":30,\"zoom\":2}}",type:gtype};
	        	}
	        	else{
	        		if(!scope.$$childHead.vm.config.config) {
	        			scope.$$childHead.vm.config = {config:$("#config").val(),type:gtype};
	        		}
	        	}
	        }
	        else{
				if(gtype == "bar" || gtype == "line"){
					var gconfig = {
						scales:{
							yAxes :[]
						}
					}
					for(var gc = 0; gc < $(".gcserie").length ; gc++){
						var gcserie = $($(".gcserie").get(gc));
						var id = gcserie.find("#axis_id_" + gc).val();
						var position = gcserie.find("#position_" + gc).val();
						var type = gcserie.find("#type_" + gc).val();
						var label = gcserie.find("#label_" + gc).val();
						var ax = {
							id: id,
							display: true,
							type: type,
							position: position,
							scaleLabel: {
								labelString: label,
								display: true
							}
						}
						gconfig.scales.yAxes.push(ax)
					}
					scope.$$childHead.vm.config = {config:gconfig,type:gtype};	
				}
				else{
					scope.$$childHead.vm.config = {config:$("#config").val()?$("#config").val():"{}",type:gtype};	
				}
	        }
						
			scope.$$childHead.vm.measures = measures;
			scope.$$childHead.vm.ds = $("#datasources").val();
			scope.$$childHead.reloadContent();
		}
	}
	
	function removeMeasure(index){
		$(".gserie")[index].remove();
		$("#addMore").show();
		refreshGadget();
	}
	
	function removeAxes(index){
		$(".gcserie")[index].remove();
		$(".yaxisselector").each(function(){this.remove(index)});
		refreshGadget();
	}
	
	var measures=[];
	var gtype = "";
	var gfields = [];
	function showConfigAndMeasures(type){
		$("#icons").hide();
		gtype = type;
		if(gtype=="line" || gtype=="bar"){
			if ( $('#configContainer').hasClass('hide') === true ){ 
				$('#configContainer').removeClass('hide');
			}
			var jsonConfig;
			if(!$("#config").val() || $("#config").val() === "{}"){
				jsonConfig = {scales:{yAxes:[]}};
			}
			else{
				jsonConfig = JSON.parse($("#config").val());
			}
			for(var index=0; index<jsonConfig.scales.yAxes.length;index++){
				var gchtml = '';
				var axis = jsonConfig.scales.yAxes[index];
				var i =  parseInt(axis.id.slice(1));
				gchtml += '<div class="gcserie col-md-12">';
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">ID</label>';
				gchtml += '<input disabled="disabled" class="form-control axis_id" data-live-search="true" data-width="100%" id="axis_id_' + i + '" value="#' + i + '"/>';
				gchtml	+= '</div>'
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">Position</label>';
				gchtml += '<select onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="position_' + i + '"><option selected="selected" value="left">left</option><option value="right">right</option></select>';
				gchtml	+= '</div>'
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">Type</label>';
				gchtml += '<select onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="type_' + i + '"><option selected="selected" value="linear">linear</option><option value="logarithmic">logarithmic</option></select>';
				gchtml	+= '</div>'
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">Axis Label</label>';
				gchtml += '<input onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="label_' + i + '"/>';
				gchtml	+= '</div>'
				if($(".gcserie").length > 0){
					gchtml += '<button style="margin-top:26px;" onclick="removeAxes(' + $(".gcserie").length + ')" class="btn red-mint btn-sm btn-outline uppercase"><i class="la la-trash"></i> REMOVE </button>';
				}
				gchtml	+= '</div>';
				$("#configGadget").append(gchtml);
				$("#position_" + i).val(axis.position);
				$("#type_" + i).val(axis.type);
				$("#label_" + i).val(axis.scaleLabel.labelString);
			}
			if(!jsonConfig.scales.yAxes.length){
				var i = 0;
				var gchtml = '';
				gchtml += '<div class="gcserie col-md-12">';
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">ID</label>';
				gchtml += '<input disabled="disabled" class="form-control axis_id" data-live-search="true" data-width="100%" id="axis_id_' + i + '" value="#' + i + '"/>';
				gchtml	+= '</div>'
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">Position</label>';
				gchtml += '<select onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="position_' + i + '"><option selected="selected" value="left">left</option><option value="right">right</option></select>';
				gchtml	+= '</div>'
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">Type</label>';
				gchtml += '<select onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="type_' + i + '"><option selected="selected" value="linear">linear</option><option value="logarithmic">logarithmic</option></select>';
				gchtml	+= '</div>'
				gchtml += '<div class="form-group col-md-2">';
				gchtml += '<label class="control-label">Axis Label</label>';
				gchtml += '<input onchange="refreshGadget()" class="form-control" data-live-search="true" data-width="100%" id="label_' + i + '"/>';
				gchtml	+= '</div>'
				$("#configGadget").html(gchtml);
			}
			
		}
		$.get("/controlpanel/datasources/getSampleDatasource/" + $("#datasources").val(), function (jsonString){
			
			if ( $('#measuresContainer').hasClass('hide') === true ){ $('#measuresContainer').removeClass('hide'); $('#viewer').removeClass('hide'); }
			
			gfields = iterate(jsonString[0],"", []);
		    stt = gadget.filter(function(g){return g.type == type})[0];
		    if(measures.length == 0){
		    	$("#measures").empty().append(addFormSttByType());
		    }
		    else{
		    	$("#measures").empty();
		    	for(var i=0;i<measures.length;i++){
					$("#measures").append(addFormSttByType());
		    	}
		    }
		    
			for (var i in gfields){
		    	$('.' + gfields[i].type).append('<option value="' + gfields[i].field + '">' + gfields[i].field + '</option>');
		    }
			for(var i=0;i<measures.length;i++){
				var config;
				if(typeof measures[i].config !== "object"){
					config = JSON.parse(measures[i].config);
				}
				else{
					config = measures[i].config;
				}
				var fields = config.fields;
				for(var f=0;f<fields.length;f++){
					var fieldAux = fields[f].replace("[",".").replace("]","");
					if($("#s_" + i + "_" + f).attr("multiple")){
						var values=fields.slice(f);
						$("#s_" + i + "_" + f).val(values);
						break;
					}
					else{
						$("#s_" + i + "_" + f).val(fieldAux);
					}
				}
				var gsoptions = $($(".gserie").get(i)).find(".gsoption");
				for(var gc =0; gc < gsoptions.length; gc++){
					//property not found
					if(!config.config || !(stt.series.options[gc].jsonFields[0] in config.config)){
						continue;
					}
					$(gsoptions[gc]).val(config.config[stt.series.options[gc].jsonFields[0]]);
					if(gsoptions[gc].type === "checkbox"){
						gsoptions[gc].checked = gsoptions[gc].value === "true";
						gsoptions[gc].value = "on"
					}
				}

				$("#n_" + i).val(config.name);
			}
			
			
			refreshGadget();
		});		
	}
	// ]]>
	$(document).ready(
		function(){
			if($("#id").val()){
				measures = /*[[${measures}]]*/ [];
				$("#datasources").val(measures[0].datasource.id);
				$("#datasources").change();
				$("#" + $("#type").val() + "").click();
			}
			
			// edit mode.
			if ($('#type').val() != ''){
				$('#'+ $('#type').val()).addClass('bg-inverse');
				$('#'+ $('#type').val()).find('a').trigger('click');
				// to-do class shadows.
			
			}
			
		}
	)
	
	</script>
	
</html> 
