<!-- SOFIA4CITIES CONTROL PANEL MENU -->
<div th:fragment="menuFragment" id="menuFragment">

	<!-- MENU CONTROLLER JS -->
	<script th:src="@{/static/js/pages/menu.js}"/>

	<!-- BEGIN SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div  class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		
		<ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
			<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<li class="sidebar-toggler-wrapper hide">
				<div class="sidebar-toggler">
					<span></span>
				</div>
			</li>
			<!-- END SIDEBAR TOGGLER BUTTON -->
			<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
			<li class="sidebar-search-wrapper">
				<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
				<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
				<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered and solid search box -->
				<!-- DOC: searchDocs()  header.js -->
				<form class="sidebar-search  sidebar-search-bordered " id="search-form" action="javascript:searchDocs();" method="get">
					<a href="javascript:;" class="remove">
						<i class="icon-close"></i>
					</a>
					<div class="input-group">
						<input type="text" class="form-control" id="search-query" placeholder="Search..."/>
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
					</div>
				</form>
				<!-- END RESPONSIVE QUICK SEARCH FORM -->
			</li>
			<!-- HOME -->
			<li class="nav-item start active open">
				<a th:href="@{/}" href="index.html" class="nav-link nav-toggle">
					<i class="flaticon-layers"></i>
					<span class="title" th:text="#{menu_home}">Consola</span>
				</a>							
			</li>		
			<!-- CARGA DINAMICA DE MENUS POR ROL -->
			<!-- ONTOLOGIAS -->
			<li class="nav-item  ">
				<a href="javascript:;" class="nav-link nav-toggle"  sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')">
					<i class="flaticon-network"></i>
					<span th:text="#{menu_category_ontologias_label}" class="title">Ontologías</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu">
					<li class="nav-item " sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')" >
						<a href="create.html" th:href="@{/ontologias/create}" class="nav-link ">
							<span th:text="#{menu_item_ontologias_crear_label}" class="title">Crear Ontologia</span>
						</a>
						<span class="external-link pull-right" data-link="/ontologias/create"><i class="fa fa-external-link " style="position: absolute;right: 6px;top: 12px;color: #868aa8;font-size: 11px;cursor: pointer;"></i></span>
					</li>
					<li class="nav-item  " sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')" >
						<a href="list.html" th:href="@{/ontologiasopendata/list}" class="nav-link ">
							<span th:text="#{menu_item_ontologiasopendata_listar_label}" class="title">Estado de Cargas</span>
							<!-- <span class="badge badge-danger">2</span> -->
						</a>
					</li>
					<li class="nav-item " sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')" >
						<a th:href="@{/ontologias/list}"  class="nav-link ">
							<span th:text="#{menu_item_ontologias_listar_label}" class="title">Mis Ontologías</span>
						</a>
					</li>					
					<li class="nav-item " sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')" >
						<a href="list.html" th:href="@{/generadorinstancias/list}" class="nav-link ">
							<span th:text="#{menu_item_ontologias_generadorinstancias_label}" class="title"> Simulador de instancias de ontologías</span>
						</a>
					</li>					
					<li class="nav-item " sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')" >
						<a href="list.html"  th:href="@{/ontologias/authorize/list}" class="nav-link ">
							<span th:text="#{menu_item_ontologias_autorizaciones_label}" class="title">Autorizaciones de Ontología</span>
						</a>
					</li>						
				</ul>
			</li>
			<!-- THINKPs -->						
			<li class="nav-item "  sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')">
				<a href="javascript:;" class="nav-link nav-toggle" >
					<i class="flaticon-share"></i>
					<span class="title">THINKPS SOFIA2</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu"  sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')">
					<li class="nav-item  " >
						<a href="list.html" th:href="@{/kps/list}" class="nav-link ">
							<span th:text="#{menu_item_KPS_listar_label}" class="title">Mis THINKPs</span>
						</a>
					</li>
					<li class="nav-item " >
						<a href="list.html" th:href="@{/gestiondispositivos/list}" class="nav-link ">
							<span th:text="#{menu_item_KPS_estado_label}" class="title">Estado THINKPs</span>
						</a>
					</li>					
					<li class="nav-item " sec:authorize="hasAuthority('ROLE_ADMINISTRATOR')" >
						<a href="list.html" th:href="@{/contenedorkps/list}" class="nav-link ">
							<span th:text="#{menu_item_contenedor_KPS_listar_label}" class="title">Contenedor THINKPs</span>
						</a>
					</li>					
				</ul>
			</li>
			<!-- VISUALIZACION -->
			<li class="nav-item"  sec:authorize="(hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')) and !hasAuthority('ROLE_SYS_ADMIN')">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="flaticon-dashboard "></i>
					<span  th:text="#{menu_category_visualizaciones_label}" class="title">VISUALIZACIÓN</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu"  sec:authorize="(hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')) and !hasAuthority('ROLE_SYS_ADMIN')">
					<li class="nav-item" >
						<a href="list.html"  th:href="@{/gadget/list}" class="nav-link ">
							<span th:text="#{menu_item_gadget_listar_label}" class="title">Mis Gadgets</span>										
						</a>
					</li>
					<li class="nav-item " >
						<a href="list.html"  th:href="@{/dashboard/listgroup}" class="nav-link ">
							<span th:text="#{menu_item_dashboard_listar_label}" class="title">Mis Dashboards </span>
						</a>
					</li>					
				</ul>
			</li>
			<!-- HERRAMIENTAS -->
			<li class="nav-item " sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')">
				<a href="javascript:;" class="nav-link nav-toggle" >
					<i class="flaticon-open-box "></i>
					<span th:text="#{menu_category_herramientas_label}" class="title">HERRAMIENTAS</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu" sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')">
					<li class="nav-item  " >
						<a href="show.html"  th:href="@{/databases/show}" class="nav-link ">
							<span th:text="#{menu_item_herramientas_consulta_label}" class="title">Consola DBTR y BDH</span>
						</a>
					</li>									
				</ul>
			</li>
			<!-- ADMINISTRACIÓN -->
			<li class="nav-item "  sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_SYS_ADMIN')">
				<a href="javascript:;" class="nav-link nav-toggle" >
					<i class="flaticon-cogwheel-2"></i>
					<span th:text="#{menu_category_PETICIONES_label}" class="title">ADMINISTRACIÓN</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu"  sec:authorize="hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_SYS_ADMIN')">
					<li class="nav-item "  sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')" >
						<a href="list.html" th:href="@{/plantillas/list}"  class="nav-link ">
							<span th:text="#{menu_item_plantillas_listar_label}" class="title">Gestión Plantillas Ontologías</span>
						</a>
					</li>					
					<li class="nav-item "  sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')" >
						<a href="list.html" th:href="@{/usuarioses/list}"  class="nav-link ">
							<span th:text="#{menu_item_usuarios_listar_label}" class="title">Gestión de Usuarios</span>
						</a>
					</li>
					<li class="nav-item "  sec:authorize="!hasAuthority('ROLE_SYS_ADMIN')" >
						<a href="show.html" th:href="@{/gestionconexiones/show}"  class="nav-link ">
							<span th:text="#{menu_item_gestionconexiones_label}" class="title">Gestión de conexiones</span>
						</a>
					</li>					
				</ul>
			</li>
			<!-- SOCIAL MEDIA -->
			<li class="nav-item "  sec:authorize="(hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')) and !hasAuthority('ROLE_SYS_ADMIN')">
				<a href="javascript:;" class="nav-link nav-toggle" >
					<i class="la la-globe"></i>
					<span th:text="#{menu_category_RRSS_label}" class="title">SOCIAL MEDIA</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu"  sec:authorize="(hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR')) and !hasAuthority('ROLE_SYS_ADMIN')">
					<li class="nav-item " >
						<a href="usuario.html" th:href="@{/socialMedia/socialMedia}" class="nav-link ">
							<span th:text="#{menu_item_RSS_social_media}" class="title">Social Media</span>
						</a>
					</li>							
					<li class="nav-item " >
						<a href="list.html" th:href="@{/configuracionRRSS/list}" class="nav-link " >
							<span th:text="#{menu_item_RSS_listar_configuracion_acceso_label}" class="title">Configuraciones de Acceso</span>
						</a>
					</li>
					<li class="nav-item " >
						<a href="listEscucha.html" th:href="@{/usuariosTwitter/scheduledSearch}"  class="nav-link ">
							<span th:text="#{menu_item_RSS_escucha_tendencia_twitter_label}" class="title">Programación Streaming Twitter</span>
						</a>
					</li>						
				</ul>
			</li>	
			<!-- BOTS -->
			<li class="nav-item "  sec:authorize="(hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR'))">
				<a href="javascript:;" class="nav-link nav-toggle" >
					<i class="la la-cubes"></i>
					<span th:text="#{menu_category_bots_label}" class="title">BOTS</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu"  sec:authorize="(hasAuthority('ROLE_ADMINISTRATOR') or hasAuthority('ROLE_COLLABORATOR'))">
					<li class="nav-item " >
						<a href="list.html"  th:href="@{/bots/list}" class="nav-link ">
							<span th:text="#{menu_item_bots_listar_label}" class="title">Mis Bots</span>
						</a>
					</li>					
					<li class="nav-item " >
						<a href="list.html"  th:href="@{/bots/scripts/list}"  class="nav-link ">
							<span th:text="#{menu_item_bots_scripts_listar_label}" class="title">Bots script</span>
						</a>
					</li>	
				</ul>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->		 			
	</div>
	<!-- END PAGE-SIDEBAR -->
	
	<!-- MENU DATA TO SEND TO MENU CONTROLLER  --> 
	<script type="text/javascript" th:inline="javascript"> 
		
		var menuJson = {
				"menu":"Sofia4Cities",
				"rol":"ROL_ADMINISTRADOR",
				"noSession":"/console/login",
				"navigation":[
					{"title":{"EN":"Home","ES":"Inicio"}, "icon": "fa fa-home", "url": "/console", "submenu": []},
					{"title":{"EN":"Ontologies","ES":"Ontologías"}, "icon": "flaticon-network", "url": "",
						"submenu": [
							{"title":{"EN":"Create Ontology","ES":"Crear Ontología"}, "icon": "", "url": "/ontologias/create"},
							{"title":{"EN":"Ontologies Status","ES":"Estado de Cargas"}, "icon": "", "url": "/ontologiasopendata/list"},
							{"title":{"EN":"My Ontologies","ES":"Mis Ontologías"}, "icon": "", "url": "/ontologias/list"},
							{"title":{"EN":"Real-Time Instance Generator","ES":"Simulador Tiempo-Real Ontologías"}, "icon": "", "url": "/generadorinstancias/list"},
							{"title":{"EN":"Ontologies Authorization","ES":"Autorizaciones de Ontología"}, "icon": "", "url": "/ontologias/authorize/list"}
						]
					},
					{"title":{"EN":"Sofia2 THINKPs","ES":"THINKPs Sofia2"}, "icon": "flaticon-share", "url": "",
						"submenu": [
							{"title":{"EN":"My THINKPs","ES":"Mis THINKPs"}, "icon": "", "url": "/kps/list"},
							{"title":{"EN":"THINKPs Status","ES":"Estado de THINKPs"}, "icon": "", "url": "/gestiondispositivos/list"},
							{"title":{"EN":"THINKPs Container","ES":"Contenedor de THINKPs"}, "icon": "", "url": "/contenedorkps/list"}
						]
					},
					{"title":{"EN":"Visualization","ES":"Visualización"}, "icon": "flaticon-dashboard", "url": "",
						"submenu": [
							{"title":{"EN":"My Gadgets","ES":"Mis Gadgets"}, "icon": "", "url": "/gadget/list"},
							{"title":{"EN":"My Dashboards","ES":"Mis Dashboards"}, "icon": "", "url": "/dashboard/listgroup"}
						]
					},
					{"title":{"EN":"Tools","ES":"Herramientas"}, "icon": "flaticon-open-box", "url": "",
						"submenu": [
							{"title":{"EN":"RTDB and HDB Console","ES":"Consola DBTR y BDH"}, "icon": "", "url": "/databases/show"}
						]
					},
					{"title":{"EN":"Administration","ES":"Administración"}, "icon": "flaticon-cogwheel-2", "url": "",
						"submenu": [
							{"title":{"EN":"Ontology Templates","ES":"Plantillas de Ontologías"}, "icon": "", "url": "/plantillas/list"},
							{"title":{"EN":"Users","ES":"Usuarios"}, "icon": "", "url": "/usuarioses/list"},
							{"title":{"EN":"Connections","ES":"Conexiones"}, "icon": "", "url": "/gestionconexiones/show"}
						]
					},
					{"title":{"EN":"Social Media","ES":"Social Media"}, "icon": "la la-globe", "url": "",
						"submenu": [
							{"title":{"EN":"Social Media","ES":"Social Media"}, "icon": "", "url": "/socialMedia/socialMedia"},
							{"title":{"EN":"Access Settings","ES":"Configuración de Acceso"}, "icon": "", "url": "/configuracionRRSS/list"},
							{"title":{"EN":"Schedule Twitter Streaming Search","ES":"Programación Streaming Twitter"}, "icon": "", "url": "/usuariosTwitter/scheduledSearch"}
						]
					},
					{"title":{"EN":"BOTs","ES":"BOTs"}, "icon": "la la-cubes", "url": "",
						"submenu": [
							{"title":{"EN":"My Bots","ES":"Mis Bots"}, "icon": "", "url": "/bots/list"},
							{"title":{"EN":"My Knowledge Bases","ES":"Bots Scripts"}, "icon": "", "url": "/bots/scripts/list"}
						]
					}
				]
			};
		
		// LOAD DATA TO USE IN MENUCONTROLLER
		// MENU CONTROLLER LOAD AND INIT ITSELF
	</script>
</div>
<!-- END SOFIA2 CONTROL PANEL MENU -->