<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>

		
		<!-- WEB FONTs -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>

		<!-- PLUGINS STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-select/bootstrap-select.min.css}"/>
		
	</head>	
	
	<!-- page-sidebar-closed to START WITH MENU COLLAPSED. -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">

	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>
			
		<!-- BEGIN SIDEBAR INCLUDE (MENU) -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
			
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				
				<!-- BEGIN PAGE BAR AND BREADCRUM-->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/users/list}"> <span th:text="#{user.breadcrumb.prev}">Users List</span></a><i class="fa fa-circle"></i></li>
						<li><span th:text="#{user.breadcrumb.create}">Show User</span></li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{name.app}"> Sofia4Cities Control Panel</span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">						
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<i class="la la-users font-grey-gallery"></i>
									<span class="caption-subject font-grey-gallery uppercase" th:text="#{user.template.create} + ':'"> New User</span>
								</div>									
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title=""> </a>																			
									<a href="" class="fullscreen" data-original-title="" title=""> </a>										
								</div>									
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								
								<div class="row">
									<div class="col-md-12 alert-zone"><!-- ALERTS ZONE -->																
									</div>
									<div class="col-md-12">										
										<form role="form" id="user_view_form" action="create.html" th:object="${user}" th:action="@{/users}" onsubmit="return checkCreate()" method="post" class="form">
											<div class="form-body">
												<!-- user, name and email -->
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label th:text="#{user.id} + ':'">Identification</label>
															<div class="input-icon ">
																<i class="fa fa-credit-card"></i>
																<input id="userid" type="text" name="userId" th:required="true"  maxlength="50" th:field="*{userId}" class="form-control " th:placeholder="#{user.id}"/>
															</div>															
														</div>
													</div>
													<div class="col-md-5 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="" th:text="#{user.name} + ':'">Name</label>
															<div class="input-icon ">
																<i class="fa fa-user"></i>
																<input id="fullname" type="text"  th:required="true"  maxlength="50" th:field="*{fullName}" class="form-control " th:placeholder="#{user.name}"/>
															</div>	
														</div>
													</div>
													<div class="col-md-4 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-envelope-o"></i> <span th:text="#{user.email} + ':'">eMail</span></label>
															<div class="input-icon ">
																<i class="fa fa-envelope-o"></i>
																<input id="email" type="text"  th:required="true"  maxlength="50" th:field="*{fullName}" class="form-control " th:placeholder="#{user.name}"/>
															</div>
														</div>
													</div>													
												</div>
												<!-- Role, created-at, removed-at -->
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-12" sec:authorize="!hasAuthority('ROLE_PARTNER')">
														<div class="form-group">
															<label class="" th:text="#{user.rolTypeName} + ':'">Role</label>
															<select id="roles" class="selectpicker form-control" data-live-search="true" data-width="100%" th:title="#{user.rolTypeName}" th:field="*{roleTypeId.name}" th:required="true">
																<option th:each="role:${roleTypes}" th:value="${role.name}" th:text="${role.name}" ></option>
															</select>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-12" sec:authorize="!hasAuthority('ROLE_PARTNER')">
														<div class="form-group">
															<label class=""><i class="la la-calendar"></i> <span th:text="#{user.dateCreated} + ':'">Created At</span></label>
															<div class="input-icon ">
																<i class="fa fa-calendar-o"></i>
																<input id="datecreated" type="text"  th:required="true"  maxlength="50" th:field="*{dateCreated}" class="form-control " th:placeholder="#{user.dateCreated}"/>
															</div>
														</div>
													</div>
													<div class="col-md-2 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class=""><i class="la la-calendar"></i> <span th:text="#{user.dateDeleted} + ':'">Deleted At</span></label>
															<div class="input-icon ">
																<i class="fa fa-calendar-o"></i>
																<input id="datedeleted" type="text"  th:required="true"  maxlength="50" th:field="*{dateDeleted}" class="form-control " th:placeholder="#{user.dateDeleted}"/>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-6 col-xs-12" sec:authorize="!hasAuthority('ROLE_PARTNER')">
														<div class="form-group">
															<label class="" th:text="#{user.active} + '?'">Active</label>
															<div class="mt-checkbox-list">
																<label class="mt-checkbox font-md" ><i class="la la-lightbulb-o" ></i> <div class="inline" th:text="#{user.active}">User Active?</div>
																	<input id="checkboxactive" name="active" type="checkbox" class="form-control" th:field="*{active}" th:checked="checked"/>
																	<span></span><!-- needed by styles -->
																</label>																													
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- FORM BUTTONS -->
											<div class="form-actions">
												<div class="pull-right">
													<!-- CREATE -->
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="createBtn" type="button" class="btn btn-square btn-success" name="create"  value="Create" th:onclick="'javascript:navigateUrl(\'' + @{/users/} + 'create' + '\');'" ><i class="la la-check"></i> <span th:text="#{gen.createBtn}"> New</span></button>
													
													<!-- MODIFY TO-DO: == and != has the same onClick? check! -->
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/users/} + ${userId} + '?form=' + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/users/} + ${userId} + '?form=' + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
													<button sec:authorize=" hasAuthority('ROLE_PARTNER')" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/users/} + ${userId} + '?form=' + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
													
													<!-- REMOVE TO-DO: caducado -->
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" th:onclick="'deleteUserConfirmation(\'' + 'delete-user' + '\');'" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
													
													<span class="sep" th:text="#{gen.sepBtn}"> or </span>
													
													<!-- CANCEL TO-DO: authentication and control -->
													<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/users/list} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
													<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} != 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
												</div>
											</div>											
										</form>
										
										<!-- AUXILIAR FORM TO DELETE USER -->
										<form id="delete_user_form" class="delete-user hide"  action=""  method="post">
											<input type="hidden" name="_method" value="DELETE"/>
											<input type="hidden" name="userId" th:value="*{userId}"/>
										</form>
									</div>									
								</div>
							</div>
						</div><!-- END PORTLET BASIC  -->						
					</div><!-- END COL-12 -->						
				</div><!-- END MAIN ROW -->
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	</div>
	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>
	
	<!-- CORE JS CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>
	
	<!-- PLUGINS -->
	<script th:src="@{/static/vendor/bootstrap-select/bootstrap-select.min.js}"/>

	<!-- TEMPLATE CONTROLLER  -->	
		
	<!-- MAIN INIT -->
	<script  th:inline="javascript">
	var showLog = 1; // console.log toggle
    //<![CDATA[ 

	// REDIRECT
	function navigateUrl(url){  window.location.href = url;	}
	
	// DELETE USER
	function deleteUserConfirmation(userId){
		console.log('deleteUserConfirmation() -> formId: '+ userId);
		
		// no Id no fun!
		if ( !userId ) {$.alert({title: 'ERROR!',type: 'red' , theme: 'dark', content: 'NO USER-FORM SELECTED!'}); return false; }
		
		// set action and userId to the form
		$('.delete-user').attr('userId',userId);
		$('.delete-user').attr('action','/controlpanel/users/' + userId);
		console.log('deleteUserConfirmation() -> formAction: ' + $('.delete-user').attr('action') + ' ID: ' + $('.delete-user').attr('userId'));
		
		// call user Confirm at header.
		HeaderController.showConfirmDialogUsuario('delete_user_form');	
	}
	
	// CHECK DATES AND LET THE FORM SUBMMIT
	function checkCreate(){
        var fechaAlta = $("#id_campo_fecha_alta").val();
        var fechaBaja = $("#id_campo_fecha_baja").val();
        var alta = new Date(fechaAlta);
        var baja = new Date(fechaBaja);              
        if (fechaBaja==""){
            
        }else{
            if (alta > baja){
                showConfirmTableDialog([[#{usuario_dialog_message_fechabaja_anterioralta}]]); 
                return false;
            }else{
                return true;    
            }           
        }       
    }
	
	
	// MAIN WHEN READY
	$( document ).ready(function() {
		// init when Document is ready
		showLog ? console.log('SHOW USER ready()...') : '';
		
		if($(".datetime").length != 0) {           
			$(".datetime").datepicker({dateFormat: "mm/dd/yy",showButtonPanel: true});
        }
        
        $("#datecreated").datepicker({dateFormat: "mm/dd/yy",showButtonPanel: true});
        $("#dateleted").datepicker({dateFormat: "mm/dd/yy",showButtonPanel: true,
			onClose: function(e) {
					var ev = window.event;
					if (ev.srcElement.innerHTML == 'Clear')
					this.value = "";    
			},
			closeText: 'Clear',
			buttonText: ''   
        });
		
	});
	 
	// MAIN WHEN LOAD
	$(window).load(function(){  
		// init on load.		
		showLog ? console.log('SHOW USER load()...') : '';
		
		var f = new Date();         
        $('#id_campo_fecha_alta').val(('0' + (f.getMonth()+1)).slice(-2) + "/" + ('0' + (f.getDate())).slice(-2) + "/" + f.getFullYear());
	});
	
	//]]>
	</script>	
</body>
</html>