<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>

		
		<!-- WEB FONTs -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
			WebFont.load({
            	google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            		active: function() {
                	sessionStorage.fonts = true;
            	}
          	});
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>

		<!-- PLUGINS STYLE SHEETS: BOOSTRAP-SELECT AND BOOSTRAP-TIMEPICKER  -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-select/bootstrap-select.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-datepicker/bootstrap-datepicker3.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/devicon.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/marketasset.css}"/>
		

	</head>	
	
	<!-- page-sidebar-closed to START WITH MENU COLLAPSED. -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">

	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>
			
		<!-- BEGIN SIDEBAR INCLUDE (MENU) -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
			
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
			
                <div class="alert alert-success display-hide">
					<span th:text="${globalMessage}"></span>
				</div>		
				
				<!-- BEGIN PAGE BAR AND BREADCRUM-->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><a th:href="@{/marketasset/list}"> <span th:text="#{marketasset.breadcrumb.prev}">Market Asset List</span></a><i class="fa fa-circle"></i></li>
						<li><span th:text="#{marketasset.breadcrumb.show}">Show Asset</span></li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{name.app}"> Sofia4Cities Control Panel</span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">						
						<div class="portlet light bordered">							
							<div class="portlet-body marketasset-page marketasset-content-2" style="display: block; height: auto;">
								<div class="row">
									<div class="col-md-12 alert-zone"><!-- ALERTS ZONE -->						
									</div>
									
									<!-- new design -->
									 <div class="col-lg-9">
										<div class="marketasset-single-content bordered marketasset-container">
											<div class="marketasset-single-head">
												<h1 class="marketasset-single-head-title uppercase bold ">sofia4cities Ontology Manual</h1>
												<div class="marketasset-single-head-date">
													<span class="btn btn-md green-turquoise tooltips" data-container="body" data-placement="top" style="margin-top: 5px;" data-original-title="Modalidad Pago: FREE">FREE</span>
												</div>
											</div>											
											<div class="marketasset-single-desc">
												<div style=" font-size: 50px;border-top: 1px solid;border-bottom: 1px solid;border-color: #f0f1f2;padding: 15px 0 10px 0;margin-bottom: 20px;" class="marketasset-technologies form-inline font-green-haze">															
														 <span class="label-marketasset" title="html5" alt="html5"><i class="devicon-html5-plain"></i></span>															
														 <span class="label-marketasset" title="css" alt="css"><i class="devicon-css-plain"></i></span>															
														 <span class="label-marketasset" title="java" alt="java"><i class="devicon-java-plain"></i></span>															
														 <span class="label-marketasset" title="javascript" alt="javascript"><i class="devicon-javascript-plain"></i></span>															
														 <span class="label-marketasset" title="mongodb" alt="mongodb"><i class="devicon-mongodb-plain"></i></span>															
														 <div class="pull-right">
														<span data-container="body" data-placement="top" style="margin-top: 5px;" data-original-title="Modalidad Pago: FREE" class="btn btn-lg green-haze tooltips">FREE</span>
													</div>
												</div>
												
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore siat magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
													ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
												<p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla et facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
													zzril delenit augue et duis dolore feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem
													insitam; est usus legentis in iis qui facit eorum claritatem. </p>
												<p> Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam et processus sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quame nunc putamus
													parum claram, siad anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. </p>
											</div>
											<div class="marketasset-single-img">
												<img class="img-responsive thumnail" src="/controlpanel/marketasset/6aad6386-3f8b-4f3a-83a8-2c1cf676a10d/getImage" />
											</div>
											<div class="marketasset-single-foot">
												<h3 style="margin-bottom: 18px;margin-top: -5px;font-size: 15px;" class="uppercase bold">Asset Technologies Applied</h3>
												<ul class="marketasset-post-tags">
													<li class="uppercase ">
														<a href="javascript:;" class="">Bootstrap</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">Sass</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">HTML</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">CSS3</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">JAVASCRIPT</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">JAVA</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">MONGODB</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">MYSQL</a>
													</li>
												</ul>
											</div>
											<div class="marketasset-comments">
												<h3 class="sbold marketasset-comments-title">Comments(30)</h3>
												<div class="c-comment-list">
													<div class="media">
														<div class="media-left">
															<a href="#">
																<img class="media-object" alt="" src="/controlpanel/images/genavatar.png" /> </a>
														</div>
														<div class="media-body">
															<h4 class="media-heading">
																<a href="#">Sean</a> on
																<span class="c-date">23 May 2015, 10:40AM</span>
															</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
													</div>
													<div class="media">
														<div class="media-left">
															<a href="#">
																<img class="media-object" alt="" src="/controlpanel/images/genavatar.png"/> </a>
														</div>
														<div class="media-body">
															<h4 class="media-heading">
																<a href="#">Strong Strong</a> on
																<span class="c-date">21 May 2015, 11:40AM</span>
															</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
															<div class="media">
																<div class="media-left">
																	<a href="#">
																		<img class="media-object" alt="" src="/controlpanel/images/genavatar.png"/> </a>
																</div>
																<div class="media-body">
																	<h4 class="media-heading">
																		<a href="#">Emma Stone</a> on
																		<span class="c-date">30 May 2015, 9:40PM</span>
																	</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
															</div>
														</div>
													</div>
													<div class="media">
														<div class="media-left">
															<a href="#">
																<img class="media-object" alt="" src="/controlpanel/images/genavatar.png"/> </a>
														</div>
														<div class="media-body">
															<h4 class="media-heading">
																<a href="#">Nick Nilson</a> on
																<span class="c-date">30 May 2015, 9:40PM</span>
															</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. </div>
													</div>
												</div>
												<h3 class="sbold marketasset-comments-title">Leave A Comment</h3>
												<form action="#">
													<div class="form-group">
														<input placeholder="Your Name" class="form-control c-square" type="text" /> </div>
													<div class="form-group">
														<input placeholder="Your Email" class="form-control c-square" type="text" /> </div>
													<div class="form-group">
														<input placeholder="Your Website" class="form-control c-square" type="text" /> </div>
													<div class="form-group">
														<textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-square"></textarea>
													</div>
													<div class="form-group">
														<button type="submit" class="btn blue uppercase btn-md sbold btn-block">Submit</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="marketasset-single-sidebar bordered marketasset-container">
											<div class="marketasset-single-sidebar-search">
												<div class="input-icon right">
													<i class="icon-magnifier"></i>
													<input class="form-control" placeholder="Search Blog" type="text" /> </div>
											</div>
											<div class="marketasset-single-sidebar-recent">
												<h3 class="marketasset-sidebar-title uppercase">Recent Market Assets</h3>
												<ul>
													<li>
														<a href="javascript:;">Dashboards Manuals</a>
													</li>
													<li>
														<a href="javascript:;">How-to Devices</a>
													</li>
													<li>
														<a href="javascript:;">Create Ontologies</a>
													</li>
													<li>
														<a href="javascript:;">Sofia4Cities Admin Manual</a>
													</li>
												</ul>
											</div>
											<div class="marketasset-single-sidebar-tags">
												<h3 class="marketasset-sidebar-title uppercase">Technologies</h3>
												<ul class="marketasset-post-tags">
													<li class="uppercase">
														<a href="javascript:;">Bootstrap</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">Sass</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">HTML</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">CSS</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">Gulp</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">Framework</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">Admin Theme</a>
													</li>
													<li class="uppercase">
														<a href="javascript:;">UI Features</a>
													</li>
												</ul>
											</div>
											<div class="marketasset-single-sidebar-links">
												<h3 class="marketasset-sidebar-title uppercase">Useful Links</h3>
												<ul>
													<li>
														<a href="javascript:;">Lorem Ipsum </a>
													</li>
													<li>
														<a href="javascript:;">Dolore Amet</a>
													</li>
													<li>
														<a href="javascript:;">Metronic Database</a>
													</li>
													<li>
														<a href="javascript:;">UI Features</a>
													</li>
													<li>
														<a href="javascript:;">Advanced Forms</a>
													</li>
												</ul>
											</div>
											<div class="marketasset-single-sidebar-ui">
												<h3 class="marketasset-sidebar-title uppercase">UI Examples</h3>
												<div class="row ui-margin">
													<div class="col-xs-4 ui-padding">
														<a href="javascript:;">
															<img src="/controlpanel/marketasset/40a331fa-a00c-4b1d-b1cc-1c21f56927a3/getImage" />
														</a>
													</div>
													<div class="col-xs-4 ui-padding">
														<a href="javascript:;">
															<img src="/controlpanel/marketasset/453ecf03-dbaa-4907-b318-e82dc91e1795/getImage" />
														</a>
													</div>
													<div class="col-xs-4 ui-padding">
														<a href="javascript:;">
															<img src="/controlpanel/marketasset/4bb160b3-3428-4866-8d7e-b90267945f86/getImage" />
														</a>
													</div>
													<div class="col-xs-4 ui-padding">
														<a href="javascript:;">
															<img src="/controlpanel/marketasset/6aad6386-3f8b-4f3a-83a8-2c1cf676a10d/getImage" />
														</a>
													</div>													
												</div>
											</div>
										</div>
									</div>
									
									
									<div class="col-md-12 hide">										
										<form role="form" id="marketasset_create_form" action="view.html" th:action="@{|/marketasset/update/${marketasset.id}|}" th:object="${marketasset}" method="get" class="form" enctype="multipart/form-data">
											<div class="form-body">
												<!-- id, version and category -->
												<div class="row">
													<div class="col-md-4 col-sm-6 col-xs-12">
														<div class="form-group">
															<label th:text="#{marketasset.id} + ':'">Identification</label>
															<p class="form-control-static-block bold" th:text="*{identification}"> Identification </p>													
														</div>
													</div>
													<div class="col-md-4 col-sm-3 col-xs-6">
														<div class="form-group">
															<label  th:text="#{marketasset.type}">Market Asset Type</label>
															<p class="form-control-static-block bold" th:text="#{marketasset.type.__*{marketAssetType}__}"> Market Asset Type </p>
														</div>					                                           
													</div>
													<div class="col-md-3 col-sm-3 col-xs-6">
														<div class="form-group">
															<label  th:text="#{marketasset.paymentmode}">API</label>
															<p class="form-control-static-block bold" th:text="#{marketasset.paymentmode.__*{paymentMode}__}"> Payment mode </p>
														</div>					                                           
													</div>
													<div class="col-md-1 col-sm-2 col-xs-6">																
														<div class="form-group">
															<div class="form-group">
															<label class="control-label" th:text="#{marketasset.public} + '?'">Active</label>
																<p class="form-control-static-block form-control-static-no-border bold">
																	<span th:if="*{public}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																	<span th:if="!*{public}" class="label label-sm label-danger"><i class="fa fa-warning"></i></span>
																</p>
															</div>
														</div>																
													</div>
												</div>
												<div class="row">
													<div class="col-md-4 col-sm-12 col-xs-12">
														<div class="form-group">
															<label  th:text="#{marketasset.image}">Image</label>
															<img id="showedImg" th:if="${not #lists.isEmpty(marketasset.image)}" th:src="@{/marketasset/} + ${marketasset.id + '/getImage'}" class="img-responsive thumbnail" style="max-height: 150px; margin-top: 20px;"/>
															<img id="showedImg" th:if="${#lists.isEmpty(marketasset.image)}" th:src="@{/img/API.png}" class="img-responsive thumbnail" style="max-height: 150px; margin-top: 20px;"/>
															<input type="hidden" th:if="${#lists.isEmpty(marketasset.image)}" th:field="*{imageType}"/>																	
														</div>
													</div>
													<div class="col-md-8 col-sm-12 col-xs-12">
														<div class="form-group">
															<label th:text="#{marketasset.title}">Title</label>
															<p id="title" name="title" class="form-control-static-block bold" disabled="disabled"></p>
														</div>
														<div class="form-group">
															<label th:text="#{marketasset.technologies}">Tecnologies</label>
															<input id="technologies" data-role="tagsinput" type="text" name="technologies" maxlength="50" class="form-control-static-block" disabled="disabled" style="border: 1px dotted #ccc"/>
														</div>
														<div class="form-group">
															<label th:text="#{marketasset.description}"></label>
															<textarea disabled="disabled" class="element textarea small form-control" id="description" name="description" maxlength="512" style="background-color:#FFFFFF;border: 1px dotted #ccc"></textarea>
														</div>
													</div>
												</div>
												<div id="fragments" th:if="(${marketasset.marketAssetType.name()} == 'API')" th:include="marketasset/marketassetfragments::#APIMarketAssetFragmentShow"/>
												<div id="fragments" th:if="(${marketasset.marketAssetType.name()} == 'DOCUMENT')" th:include="marketasset/marketassetfragments::#DOCUMENTMarketAssetFragmentShow"/>
												<div id="fragments" th:if="(${marketasset.marketAssetType.name()} == 'WEBPROJECT')" th:include="marketasset/marketassetfragments::#WEBPROJECTMarketAssetFragmentShow"/>
												<div id="fragments" th:if="(${marketasset.marketAssetType.name()} == 'APPLICATION')" th:include="marketasset/marketassetfragments::#APPLICATIONMarketAssetFragmentShow"/>
											</div>
											<!-- FORM BUTTONS -->
											<div class="form-actions">
												<div class="pull-right">
													<!-- UPDATE -->
													<button th:if="((${#authentication.name} == ${marketasset.user.userId}) OR (${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'))" id="updateBtn" type="submit" class="btn btn-square btn-warning" name="update"  th:value="#{gen.editBtn}" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit</span></button>
													
													<span th:if="((${#authentication.name} == ${marketasset.user.userId}) OR (${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'))" class="sep" th:text="#{gen.sepBtn}"> or </span>
													
													<!-- CANCEL TO-DO: authentication and control -->
													<button id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/marketasset/list} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
												</div>
											</div>											
										</form>
										<form th:id="form_download_document" th:action="@{|/marketasset/${marketasset.id}/downloadContent|}" method="POST">
                   							<input type="hidden" name="id_document" id="id_document"/>
                						</form>
									</div>									
								</div>
							</div>
						</div><!-- END PORTLET BASIC  -->						
					</div><!-- END COL-12 -->						
				</div><!-- END MAIN ROW -->
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	</div>
	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>
	
	<!-- CORE JS CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>
	
	<!-- PLUGINS -->
	<script th:src="@{/static/vendor/bootstrap-select/bootstrap-select.min.js}"/>
	<script th:src="@{/static/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js}"/>
	<!-- LOADING DEFAULT DATES IF NEEDED -->
	<script th:if="${lang} == 'es'" th:src="@{/static/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js}" type="text/javascript"></script>
	
	<script th:src="@{/static/vendor/jquery-validation/jquery.validate.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/vendor/jquery-validation/additional-methods.min.js}" type="text/javascript"></script>
	<!-- LOADING DEFAULT LANG MESSAGES IF NEEDED -->
	<script th:if="${lang} == 'es'" th:src="@{/static/vendor/jquery-validation/localization/messages_es.min.js}" type="text/javascript"></script>
	
	<script th:src="@{/static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/vendor/json/mountable.min.js}" type="text/javascript"></script>
	
	<!-- INPUTMASK -->
	<script th:src="@{/static/vendor/jquery-inputmask/dist/min/jquery.inputmask.bundle.min.js}"/>
	
	<!-- MAIN INIT -->
	<script  th:inline="javascript">
	
	var error="";
	var currentLanguage = [[${lang}]];
	
	// REDIRECT URL
	var navigateUrl = function(url){ window.location.href = url; }
								
	// MAIN WHEN LOAD
	$(window).load(function(){  
		var json_desc = JSON.parse(/*[[${json_desc}]]*/);
		
		$('#title').text(json_desc.title);
		$('#technologies').tagsinput('add', json_desc.technologies);
		$('#description').val(json_desc.description);
		
		var marketAssetType = [[${marketasset.marketAssetType.name()}]];
		
		loadFragment(marketAssetType,json_desc);
	});
	
	function loadFragment(type, json_desc){
		if (type=='API'){
			$('#apiId').text(json_desc.apiId);
			$('#versions').text(json_desc.versions);
			$('#apiDescription').val(json_desc.apiDescription);
		} else if (type=='DOCUMENT'){
			$("a[href='document']").attr('href', [[@{/marketasset/}]] + [[${marketasset.id}]] + '/downloadContent');
		} else if (type=='APPLICATION'){
			$('#installation').val(json_desc.installation);
			$('#functionality').val(json_desc.functionality);
		} else if (type=='WEBPROJECT'){
			$('#functionality').text(json_desc.functionality);
			$('#id_endpoint').val(json_desc.id_endpoint);
		}
		
	};
	
	function descargarInforme(id){  
        document.getElementById("id_document").value=id;
       document.forms["form_download_document"].submit();
    }
	</script>	

</body>
</html>