<!-- Copyright Indra Sistemas, S.A. 2013-2018 SPAIN -->
<html xmlns:th="http://www.thymeleaf.org"  th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="Content-Language" th:content="${lang}"/>
		<title th:text="#{name.app}"/>

		
		<!-- WEB FONTs -->
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Open Sans:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>

		<!-- STYLE SHEETS -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/components.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/plugins.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/layout.css}"/>
		<!-- THEME -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/webjars/sofia2_theme/css/sofia2.css}"/>		
		
	</head>	
	
	<!-- page-sidebar-closed to START WITH MENU COLLAPSED. -->
	<body class="page-header-fixed  page-content-white page-sidebar-closed">

	<!-- MAIN PAGE WRAPPER -->
	<div class="page-wrapper">
	
		<!-- BEGIN HEADER INCLUDE -->
		<div th:include="fragments/header::#headerFragment" class="page-header navbar navbar-fixed-top"></div>
		<!-- END HEADER -->
		
		<!-- HEADER AND CONTENT DIVIDER -->
		<div class="clearfix"> </div>
			
		<!-- BEGIN SIDEBAR INCLUDE (MENU) -->
		<div th:include="fragments/menu::#menuFragment" class="page-sidebar-wrapper"></div>
		<!-- END SIDEBAR -->
			
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
			
                <div class="alert alert-success display-hide">
					<span th:text="${globalMessage}"></span>
				</div>		
				
				<!-- BEGIN PAGE BAR AND BREADCRUM-->
				<div class="page-bar margin-bottom-20">
					<ul class="page-breadcrumb">
						<li><i class="la la-home"></i> <a th:href="@{/}">Home</a><i class="fa fa-circle"></i></li>
						<li><span th:text="#{user.breadcrumb.show}">Show User</span></li>
					</ul>						
				</div>
				<!-- END PAGE BAR -->
				
				<!-- BEGIN PAGE TITLE-->
				<h1 class="page-title hide "><span th:text="#{name.app}"> Sofia4Cities Control Panel</span></h1>
				<!-- END PAGE TITLE-->			
				
				<!-- MAIN ROW -->
				<div class="row">
					<div class="col-md-12">						
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<i class="la la-users font-grey-gallery"></i>
									<span class="caption-subject font-grey-gallery uppercase" th:object="${user}" th:text="#{user.template.show} + ' ' + ${user.fullName}"> User_fullName</span>
								</div>									
								<div class="tools">
									<a href="" class="collapse" data-original-title="" title=""> </a>																			
									<a href="" class="fullscreen" data-original-title="" title=""> </a>										
								</div>									
							</div>
							<div class="portlet-body" style="display: block; height: auto;">
								
								<div class="row">
									<div class="col-md-12 alert-zone"><!-- ALERTS ZONE -->																
									</div>
									<div class="col-md-12">										
										<form role="form" id="user_view_form" action="view.html" th:action="@{|/controlpanel/users/${userId}|}" th:object="${user}" method="post" class="form">
											<div class="form-body">
												<!-- user, name and email -->
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-credit-card"></i> <span th:text="#{user.id} + ':'">User</span></label>
															<p class="form-control-static-block bold" th:text="*{userId}"> User Identification </p>
														</div>
													</div>
													<div class="col-md-5 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label" th:text="#{user.name} + ':'">Name</label>
															<p class="form-control-static-block bold" th:text="*{fullName}"> User Name </p>
														</div>
													</div>
													<div class="col-md-4 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-envelope-o"></i> <span th:text="#{user.email} + ':'">eMail</span></label>
															<p class="form-control-static-block bold" th:text="*{email}"> User eMail </p>
														</div>
													</div>													
												</div>
												<!-- Role, created-at, removed-at -->
												<div class="row">
													<div class="col-md-3 col-sm-6 col-xs-12" sec:authorize="!hasAuthority('ROLE_PARTNER')">
														<div class="form-group">
															<label class="control-label" th:text="#{user.rolTypeName} + ':'">Role</label>
															<p class="form-control-static-block bold" th:text="*{role.name}"> User Role </p>
														</div>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-12" sec:authorize="!hasAuthority('ROLE_PARTNER')">
														<div class="form-group">
															<label class="control-label"><i class="la la-calendar"></i> <span th:text="#{user.dateCreated} + ':'">Created At</span></label>
															<p class="form-control-static-block bold" th:text="${#dates.format(user.createdAt, 'dd/MM/yyyy')}" > User creation date </p>
														</div>
													</div>
													<div class="col-md-2 col-sm-6 col-xs-12">
														<div class="form-group">
															<label class="control-label"><i class="la la-calendar"></i> <span th:text="#{user.dateDeleted} + ':'">Deleted At</span></label>
															<p class="form-control-static-block bold" ><span th:if="*{dateDeleted}" th:text="*{dateDeleted}"> User deleting date </span></p>
														</div>
													</div>
													<div class="col-md-4 col-sm-6 col-xs-12" sec:authorize="!hasAuthority('ROLE_PARTNER')">
														<div class="form-group">
															<label class="control-label" th:text="#{user.active} + '?'">Active</label>
															<p class="form-control-static-block form-control-static-no-border bold">
																<span th:if="*{active}"  class="label label-sm label-success"><i class="fa fa-check"></i></span>
																<span th:if="!*{active}" class="label label-sm label-danger"><i class="fa fa-warning"></i></span>
															</p>
														</div>
													</div>
												</div>
											</div>
											<!-- FORM BUTTONS -->
											<div class="form-actions">
												<div class="pull-right">
													<!-- CREATE -->
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="createBtn" type="button" class="btn btn-square btn-success" name="create"  value="Create" th:onclick="'javascript:navigateUrl(\'' + @{/users/} + 'create' + '\');'" ><i class="la la-check"></i> <span th:text="#{gen.createBtn}"> New</span></button>
													
													<!-- MODIFY TO-DO: == and != has the same onClick? check! -->
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#authentication.name} != ${user.userId}" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/users/update/} + ${user.userId} + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" th:if="${#authentication.name} == ${user.userId}" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/users/update/} + ${user.userId} + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
													<button sec:authorize=" hasAuthority('ROLE_PARTNER')" id="editBtn" type="button" class="btn btn-square btn-warning" name="edit"  value="Edit" th:onclick="'javascript:navigateUrl(\'' + @{/users/} + ${userId} + '?form=' + '\');'" ><i class="la la-edit"></i> <span th:text="#{gen.editBtn}"> Edit </span></button>
													
													<!-- REMOVE TO-DO: caducado -->
													<button sec:authorize="!hasAuthority('ROLE_PARTNER')" id="deleteBtn" type="button" class="btn btn-square btn-danger" name="delete"  value="Remove" th:onclick="'deleteUserConfirmation(\'' + ${user.userId} + '\');'" ><i class="la la-trash"></i> <span th:text="#{gen.deleteBtn}"> Delete </span></button>
													
													<span class="sep" th:text="#{gen.sepBtn}"> or </span>
													
													<!-- CANCEL TO-DO: authentication and control -->
													<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} == 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/users/list} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
													<button th:if="${#strings.arrayJoin(#authentication.authorities,'')} != 'ROLE_ADMINISTRATOR'" id="cancelBtn" type="button" class="btn btn-square btn-outline red-sunglo" name="cancel"  th:value="#{gen.cancelBtn}" value="cancel" th:onclick="'javascript:navigateUrl(\'' + @{/} + '\');'"><i class="la la-times"></i><span th:text="#{gen.cancelBtn}"> Cancel </span></button>
												</div>
											</div>											
										</form>
										
										<!-- AUXILIAR FORM TO DELETE USER -->
										<form id="delete_user_form" class="delete-user hide"  action=""  method="post">
											<input type="hidden" name="_method" value="DELETE"/>
											<input type="hidden" name="userId" th:value="*{userId}"/>
										</form>
									</div>									
								</div>
							</div>
						</div><!-- END PORTLET BASIC  -->						
					</div><!-- END COL-12 -->						
				</div><!-- END MAIN ROW -->
			</div><!-- END CONTENT BODY -->
		</div><!-- END CONTENT page-content-wrapper -->		
	</div>
	<!-- END MAIN PAGE WRAPPER -->
	
	<!-- FOOTER INCLUDE -->
	<footer th:include="fragments/footer::#footerFragment" class="page-footer"> </footer>
	
	<!-- CORE JS CONTROLLERS -->
	<script th:src="@{/static/js/app.js}"/>
	<script th:src="@{/static/js/layout.js}"/>

	<!-- TEMPLATE CONTROLLER  -->	
		
	<!-- MAIN INIT -->
	<script  th:inline="javascript">
	var showLog = 1; // console.log toggle
    //<![CDATA[ 

	// REDIRECT
	function navigateUrl(url){  window.location.href = url;	}
	
	// DELETE USER
	function deleteUserConfirmation(userId){
		console.log('deleteUserConfirmation() -> formId: '+ userId);
		
		// no Id no fun!
		if ( !userId ) {$.alert({title: 'ERROR!',type: 'red' , theme: 'dark', content: 'NO USER-FORM SELECTED!'}); return false; }
		
		// set action and userId to the form
		$('.delete-user').attr('userId',userId);
		$('.delete-user').attr('action','/controlpanel/users/' + userId);
		console.log('deleteUserConfirmation() -> formAction: ' + $('.delete-user').attr('action') + ' ID: ' + $('.delete-user').attr('userId'));
		
		// call user Confirm at header.
		HeaderController.showConfirmDialogUsuario('delete_user_form');	
	}
	
	
	// MAIN WHEN READY
	$( document ).ready(function() {
		// init when Document is ready
		showLog ? console.log('SHOW USER ready()...') : '';
	});
	 
	// MAIN WHEN LOAD
	$(window).load(function(){  
		// init on load.		
		showLog ? console.log('SHOW USER load()...') : '';
	});
	
	//]]>
	</script>	
</body>
</html>