<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title/>
    </head>
    <body th:fragment="menu">
        <nav class="top-bar" role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="/" th:text="#{'app.name'}">App Title</a>
                    </h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li>
						<span  style="color: #ffffff" sec:authorize="isAuthenticated()">
		                | <span sec:authentication="name"></span> |
		                 <span sec:authentication="authorities"></span> |		                
		                </span>	
					</li>                    
                    <li><a href="/kpcontainertype/list" th:text="#{'kpcontainertype.list'}"></a></li>
                </ul>
            </section>
        </nav>
    </body>
</html>
