<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body th:fragment="script">
        <script th:src="@{/static/vendor/jquery/jquery.min.js}" src="/static/vendor/jquery/jquery.min.js" type="text/javascript"></script>
        <script th:src="@{/static/vendor/foundation/js/foundation.min.js}" src="/static/vendor/foundation/js/foundation.min.js" type="text/javascript"></script>
        <script th:src="@{/static/js/main.js}" src="/static/js/main.js" type="text/javascript"></script> 
    </body>
</html>
